SplunkLogging/OrderFullFillmentAPI/OrderFullFillmentFlow.json
[{"id":"main.flow","type":"tab","label":"main","disabled":false,"info":""},{"id":"test.flow","type":"tab","label":"test","disabled":false,"info":""},{"id":"c95cf4ca.4cb7e8","type":"EventListener","z":"main.flow","name":"POST /order","eventSource":"api","dynamodbOperation":"","apiMethod":"post","apiUrl":"/order","albMethod":"any","albUrl":"","bucketName":"","event":"s3:ObjectCreated:*","x":122.5,"y":280,"wires":[["d8428813.753a68"]],"caname":"aws-event-handler","category":"aws"},{"id":"234bf37.d395c0c","type":"splunk","z":"main.flow","name":"Log_Entry","splunkHost":"prd.splunkcloud.com","splunkHostType":"","splunkPort":"8088","splunkPortType":"","hecToken":"7bf62a0","hecTokenType":"","splunkLogData":"{\"TrackingID\" : msg.payload.TxnID,\"ServiceName\":\"Order_FullFillment\", \"Data\": msg.payload }","splunkLogDataType":"","x":342.5,"y":280,"wires":[["d7322079.1e98e"]],"caname":"splunk","category":"logging"},{"id":"d8428813.753a68","type":"Logger","z":"main.flow","name":"Log_Entry","level":"INFO","message":"{\"TrackingID\" : msg.payload.TxnID, \"Data\": msg.payload }","x":242.5,"y":280,"wires":[["234bf37.d395c0c"]],"caname":"logger","category":"logging"},{"id":"bfa65201.dac33","type":"EventListener-End","z":"main.flow","name":"Success","statusCode":"200","headers":{"Content-Type":"application/json"},"payload":"msg.payload","x":622.5,"y":280,"wires":[],"caname":"eventlistenerend","category":"aws"},{"id":"4b8e4d42.ed7644","type":"TestCase","z":"test.flow","name":"/order","selectedTargetNode":"c95cf4ca.4cb7e8","payload":"{\n  \"path\": \"/order\",\n  \"headers\": {\n    \"Accept\": \"text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,*/*;q=0.8\",\n    \"Accept-Encoding\": \"gzip, deflate, lzma, sdch, br\",\n    \"Accept-Language\": \"en-US,en;q=0.8\",\n    \"CloudFront-Forwarded-Proto\": \"https\",\n    \"CloudFront-Is-Desktop-Viewer\": \"true\",\n    \"CloudFront-Is-Mobile-Viewer\": \"false\",\n    \"CloudFront-Is-SmartTV-Viewer\": \"false\",\n    \"CloudFront-Is-Tablet-Viewer\": \"false\",\n    \"CloudFront-Viewer-Country\": \"US\",\n    \"Host\": \"wt6mne2s9k.execute-api.us-west-2.amazonaws.com\",\n    \"Upgrade-Insecure-Requests\": \"1\",\n    \"User-Agent\": \"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/52.0.2743.82 Safari/537.36 OPR/39.0.2256.48\",\n    \"Via\": \"1.1 fb7cca60f0ecd82ce07790c9c5eef16c.cloudfront.net (CloudFront)\",\n    \"X-Amz-Cf-Id\": \"nBsWBOrSHMgnaROZJK1wGCZ9PcRcSpq_oSXZNQwQ10OTZL4cimZo3g==\",\n    \"X-Forwarded-For\": \"192.168.100.1, 192.168.1.1\",\n    \"X-Forwarded-Port\": \"443\",\n    \"X-Forwarded-Proto\": \"https\"\n  },\n  \"pathParameters\": {\n    \"proxy\": \"hello\"\n  },\n  \"requestContext\": {\n    \"accountId\": \"123456789012\",\n    \"resourceId\": \"us4z18\",\n    \"stage\": \"test\",\n    \"requestId\": \"41b45ea3-70b5-11e6-b7bd-69b5aaebc7d9\",\n    \"identity\": {\n      \"cognitoIdentityPoolId\": \"\",\n      \"accountId\": \"\",\n      \"cognitoIdentityId\": \"\",\n      \"caller\": \"\",\n      \"apiKey\": \"\",\n      \"sourceIp\": \"192.168.100.1\",\n      \"cognitoAuthenticationType\": \"\",\n      \"cognitoAuthenticationProvider\": \"\",\n      \"userArn\": \"\",\n      \"userAgent\": \"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/52.0.2743.82 Safari/537.36 OPR/39.0.2256.48\",\n      \"user\": \"\"\n    },\n    \"resourcePath\": \"/{proxy+}\",\n    \"httpMethod\": \"POST\",\n    \"apiId\": \"wt6mne2s9k\"\n  },\n  \"resource\": \"/{proxy+}\",\n  \"httpMethod\": \"POST\",\n  \"queryStringParameters\": {\n    \"name\": \"me\"\n  },\n  \"stageVariables\": {\n    \"stageVarName\": \"stageVarValue\"\n  },\n  \"body\": {\n    \"OrderID\": \"ATK-0001\",\n    \"TxnID\" : \"0948939-AWHDH\",\n    \"Item\" : {\n        \"Name\" : \"ABC Laptop\",\n        \"Type\" : \"Mini-5\",\n        \"Qty\" :  1\n    },\n    \"Address\" :{\n        \"Unit\" : \"9\",\n        \"Street\" : \"TTK Street\",\n        \"Road\" : \"Tower Road\",\n        \"State\" : \"NSW\",\n        \"Country\" : \"Australia\",\n        \"PIN\" : 94839\n        \n    }\n}\n}","initialLoad":"false","x":122.5,"y":280,"wires":[["d2c78794.7a7f68"]],"caname":"test-case","category":"testing"},{"id":"d2c78794.7a7f68","type":"TestCaseEnd","z":"test.flow","name":"TestCaseEnd","x":422.5,"y":280,"wires":[],"caname":"test-case-end","category":"testing"},{"id":"d7322079.1e98e","type":"Datamapper","z":"main.flow","name":"Order_ProcessResponse","datamappertype":"{\n  \"TrackingID\" : msg.payload.TxnID,\n  \"OrderID\" : msg.payload.OrderID,\n  \"Status\" : \"Processed\"\n }","testdataeditortype":"{\n    \"OrderID\": \"hello world\",\n    \"TxnID\" : \"0948939-AWHDH\",\n    \"Item\" : {\n        \"Name\" : \"ABC Laptop\",\n        \"Type\" : \"Mini-5\",\n        \"Qty\" :  1\n    },\n    \"Address\" :{\n        \"Unit\" : \"9\",\n        \"Street\" : \"TTK Street\",\n        \"Road\" : \"Tower Road\",\n        \"State\" : \"NSW\",\n        \"Country\" : \"Australia\",\n        \"PIN\" : 94839\n        \n    }\n}","x":462.5,"y":280,"wires":[["bfa65201.dac33"]],"caname":"datamapper","category":"transformation"}]