ScatterGather/DataAggregationFlow.json
[{"id":"main.flow","type":"tab","label":"main","disabled":false,"info":""},{"id":"test.flow","type":"tab","label":"test","disabled":false,"info":""},{"id":"5eb3cd61.894f04","type":"Logger","z":"main.flow","name":"Log","level":"INFO","message":"Request received","x":222.5,"y":160,"wires":[["3ed27c29.358eb4"]],"caname":"logger","category":"logging"},{"id":"b5fc6ccd.17dd7","type":"EventListener-End","z":"main.flow","name":"Success","statusCode":"200","headers":{"Content-Type":"application/json"},"payload":"{\"status\" :  \"completed\"}","x":862.5,"y":160,"wires":[],"caname":"eventlistenerend","category":"aws"},{"id":"3ed27c29.358eb4","type":"Scatter","z":"main.flow","name":"Scatter","x":322.5,"y":160,"wires":[["2805c283.7db2ce","286bfeb0.ae3f72","2fb29026.db5b7"]],"caname":"scatter","category":"routing"},{"id":"57855658.f465b8","type":"Gather","z":"main.flow","name":"Gather","x":582.5,"y":160,"wires":[["2bb1f91f.ea1376"]],"caname":"gather","category":"routing"},{"id":"2805c283.7db2ce","type":"HTTP Req","z":"main.flow","name":"VendorA","Method":"GET","Ret":"obj","Paytoqs":false,"Url":"","AuthType":"none","User":"","Password":"","Token":"","ResponseTimeout":"","x":442.5,"y":60,"wires":[["57855658.f465b8"]],"caname":"httprequest","category":"web"},{"id":"286bfeb0.ae3f72","type":"HTTP Req","z":"main.flow","name":"VendorC","Method":"GET","Ret":"obj","Paytoqs":false,"Url":"","AuthType":"none","User":"","Password":"","Token":"","ResponseTimeout":"","x":442.5,"y":280,"wires":[["57855658.f465b8"]],"caname":"httprequest","category":"web"},{"id":"2fb29026.db5b7","type":"HTTP Req","z":"main.flow","name":"VendorB","Method":"GET","Ret":"obj","Paytoqs":false,"Url":"","AuthType":"none","User":"","Password":"","Token":"","ResponseTimeout":"","x":442.5,"y":160,"wires":[["57855658.f465b8"]],"caname":"httprequest","category":"web"},{"id":"c307d4dd.b57728","type":"TestCase","z":"test.flow","name":"TestCase","selectedTargetNode":"eacbb9ef.69d5c8","payload":"{\n  \"path\": \"/inventory\",\n  \"headers\": {\n    \"Accept\": \"text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,*/*;q=0.8\",\n    \"Accept-Encoding\": \"gzip, deflate, lzma, sdch, br\",\n    \"Accept-Language\": \"en-US,en;q=0.8\",\n    \"CloudFront-Forwarded-Proto\": \"https\",\n    \"CloudFront-Is-Desktop-Viewer\": \"true\",\n    \"CloudFront-Is-Mobile-Viewer\": \"false\",\n    \"CloudFront-Is-SmartTV-Viewer\": \"false\",\n    \"CloudFront-Is-Tablet-Viewer\": \"false\",\n    \"CloudFront-Viewer-Country\": \"US\",\n    \"Host\": \"wt6mne2s9k.execute-api.us-west-2.amazonaws.com\",\n    \"Upgrade-Insecure-Requests\": \"1\",\n    \"User-Agent\": \"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/52.0.2743.82 Safari/537.36 OPR/39.0.2256.48\",\n    \"Via\": \"1.1 fb7cca60f0ecd82ce07790c9c5eef16c.cloudfront.net (CloudFront)\",\n    \"X-Amz-Cf-Id\": \"nBsWBOrSHMgnaROZJK1wGCZ9PcRcSpq_oSXZNQwQ10OTZL4cimZo3g==\",\n    \"X-Forwarded-For\": \"192.168.100.1, 192.168.1.1\",\n    \"X-Forwarded-Port\": \"443\",\n    \"X-Forwarded-Proto\": \"https\"\n  },\n  \"pathParameters\": {\n    \"proxy\": \"hello\"\n  },\n  \"requestContext\": {\n    \"accountId\": \"123456789012\",\n    \"resourceId\": \"us4z18\",\n    \"stage\": \"test\",\n    \"requestId\": \"41b45ea3-70b5-11e6-b7bd-69b5aaebc7d9\",\n    \"identity\": {\n      \"cognitoIdentityPoolId\": \"\",\n      \"accountId\": \"\",\n      \"cognitoIdentityId\": \"\",\n      \"caller\": \"\",\n      \"apiKey\": \"\",\n      \"sourceIp\": \"192.168.100.1\",\n      \"cognitoAuthenticationType\": \"\",\n      \"cognitoAuthenticationProvider\": \"\",\n      \"userArn\": \"\",\n      \"userAgent\": \"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/52.0.2743.82 Safari/537.36 OPR/39.0.2256.48\",\n      \"user\": \"\"\n    },\n    \"resourcePath\": \"/{proxy+}\",\n    \"httpMethod\": \"GET\",\n    \"apiId\": \"wt6mne2s9k\"\n  },\n  \"resource\": \"/{proxy+}\",\n  \"httpMethod\": \"GET\",\n  \"queryStringParameters\": {\n    \"name\": \"me\"\n  },\n  \"stageVariables\": {\n    \"stageVarName\": \"stageVarValue\"\n  }\n}","initialLoad":"false","x":202.5,"y":80,"wires":[["c3dcb36a.b065b"]],"caname":"test-case","category":"testing"},{"id":"c3dcb36a.b065b","type":"TestCaseEnd","z":"test.flow","name":"TestCaseEnd","x":342.5,"y":80,"wires":[],"caname":"test-case-end","category":"testing"},{"id":"620bb092.89f5b","type":"EventListener","z":"main.flow","name":"GET /inventory","eventSource":"api","dynamodbOperation":"","apiMethod":"get","apiUrl":"/inventory","albMethod":"any","albUrl":"","bucketName":"","event":"s3:ObjectCreated:*","x":102.5,"y":160,"wires":[["5eb3cd61.894f04"]],"caname":"aws-event-handler","category":"aws"},{"id":"f1e0efce.37dea","type":"SQS","z":"main.flow","operation":"SendMessage","QueueUrl":"","ReceiptHandle":"","MessageBody":"msg.payload","name":"SQS","x":742.5,"y":160,"wires":[["b5fc6ccd.17dd7"]],"caname":"SQS","category":"aws"},{"id":"2bb1f91f.ea1376","type":"JSON","z":"main.flow","name":"JSON","property":"msg.payload","action":"str","pretty":false,"x":662.5,"y":160,"wires":[["f1e0efce.37dea"]],"caname":"JSON","category":"transformation"}]