KafkaFlow/KafkaFlow-flow.json
[{"id":"main.flow","type":"tab","label":"main","disabled":false,"info":""},{"id":"test.flow","type":"tab","label":"test","disabled":false,"info":""},{"id":"970b156b.fc4338","type":"Dynamo DB","z":"main.flow","name":"Get Ticker Details","operation":"GetItem","tableArn":"'arn:aws:dynamodb:us-east-1:174842903734:table/StockPrices'","columns":[{"columnType":"S","columnName":"'TickerSymbol'","columnValue":"msg.payload.dynamodb.NewImage.Message.S"}],"x":342.5,"y":80,"wires":[["16cbf5e3.06344a"]],"caname":"dynamo","category":"aws"},{"id":"e9622fd.52adad","type":"TestCase","z":"test.flow","name":"Ticker Update Event","selectedTargetNode":"14039b2b.d92bc5","payload":"{\n  \"Records\": [\n    {\n      \"eventID\": \"1\",\n      \"eventVersion\": \"1.0\",\n      \"dynamodb\": {\n        \"Keys\": {\n          \"Id\": {\n            \"N\": \"101\"\n          }\n        },\n        \"NewImage\": {\n          \"Message\": {\n            \"S\": \"ITC\"\n          },\n          \"Id\": {\n            \"N\": \"101\"\n          }\n        },\n        \"StreamViewType\": \"NEW_AND_OLD_IMAGES\",\n        \"SequenceNumber\": \"111\",\n        \"SizeBytes\": 26\n      },\n      \"awsRegion\": \"us-west-2\",\n      \"eventName\": \"INSERT\",\n      \"eventSourceARN\": \"eventsourcearn\",\n      \"eventSource\": \"aws:dynamodb\"\n    },\n    {\n      \"eventID\": \"2\",\n      \"eventVersion\": \"1.0\",\n      \"dynamodb\": {\n        \"OldImage\": {\n          \"Message\": {\n            \"S\": \"New item!\"\n          },\n          \"Id\": {\n            \"N\": \"101\"\n          }\n        },\n        \"SequenceNumber\": \"222\",\n        \"Keys\": {\n          \"Id\": {\n            \"N\": \"101\"\n          }\n        },\n        \"SizeBytes\": 59,\n        \"NewImage\": {\n          \"Message\": {\n            \"S\": \"goog\"\n          },\n          \"Id\": {\n            \"N\": \"101\"\n          }\n        },\n        \"StreamViewType\": \"NEW_AND_OLD_IMAGES\"\n      },\n      \"awsRegion\": \"us-west-2\",\n      \"eventName\": \"MODIFY\",\n      \"eventSourceARN\": \"sourcearn\",\n      \"eventSource\": \"aws:dynamodb\"\n    }\n  ]\n}","initialLoad":"false","x":122.5,"y":60,"wires":[["78119081.42ea6"]],"caname":"test-case","category":"testing"},{"id":"78119081.42ea6","type":"TestCaseEnd","z":"test.flow","name":"TestCaseEnd","x":302.5,"y":60,"wires":[],"caname":"test-case-end","category":"testing"},{"id":"14039b2b.d92bc5","type":"EventListener","z":"main.flow","name":"Ticker Update","eventSource":"dynamodb","dynamodbOperation":"modify","apiMethod":"any","apiUrl":"","albMethod":"any","albUrl":"","bucketName":"","event":"s3:ObjectCreated:*","x":102.5,"y":80,"wires":[["7ba7df04.c513a"]],"caname":"aws-event-handler","category":"aws"},{"id":"c8a5a220.e62be","type":"EventListener-End","z":"main.flow","name":"EventListener-End","statusCode":"200","headers":{"Content-Type":"application/json"},"payload":"msg.payload","x":942.5,"y":80,"wires":[],"caname":"eventlistenerend","category":"aws"},{"id":"7ba7df04.c513a","type":"Split","z":"main.flow","name":"Loop Records","splitable":"msg.header.event.Records","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","operation":"Array","x":222.5,"y":80,"wires":[["970b156b.fc4338"]],"caname":"split","category":"routing"},{"id":"b3a30230.f662b","type":"Join","z":"main.flow","name":"Join","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":"false","timeout":"","count":"","reduceRight":false,"x":742.5,"y":80,"wires":[["c53a6e9.138d79"]],"caname":"split","category":"routing"},{"id":"2049a83e.fbc1b8","type":"kafka","z":"main.flow","name":"Publish Ticker Update","clientID":"Ticker Service","kafkaTopic":"","message":"","rows":[{"brokerName":"","brokerPort":""}],"x":202.5,"y":360,"wires":[[]],"caname":"kafka","category":"queue"},{"id":"cb291407.3eb1a8","type":"JSON","z":"main.flow","name":"JSON","property":"msg.payload","action":"obj","pretty":false,"x":442.5,"y":360,"wires":[[]],"caname":"JSON","category":"transformation"},{"id":"c53a6e9.138d79","type":"Logger","z":"main.flow","name":"Logger","level":"INFO","message":"msg.payload","x":822.5,"y":80,"wires":[["c8a5a220.e62be"]],"caname":"logger","category":"logging"},{"id":"16cbf5e3.06344a","type":"Set-Property","z":"main.flow","name":"Create Payload JSON","rules":[{"t":"set","p":"payload","pt":"camsg","to":"{\"result\":msg.payload}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":482.5,"y":80,"wires":[["e694bd8a.0b90c"]],"caname":"setproperty","category":"transformation"},{"id":"e694bd8a.0b90c","type":"Datamapper","z":"main.flow","name":"Datamapper","datamappertype":"$map(result, function($a) {\n    {\n        \"symbol\": $a.Item.TickerSymbol.S,\n        \"price\": $a.Item.currentPrice.N,\n        \"previousPrice\": $a.Item.previousPrice.N,\n        \"change\": ($number($a.Item.previousPrice.N) / $number($a.Item.currentPrice.N))/$number($a.Item.previousPrice.N)*100\n    }\n})","testdataeditortype":"{}","x":622.5,"y":80,"wires":[["b3a30230.f662b"]],"caname":"datamapper","category":"transformation"}]