SendGridDemo/SendGridDemo-flow.json
[{"id":"main.flow","type":"tab","label":"main","disabled":false,"info":""},{"id":"test.flow","type":"tab","label":"test","disabled":false,"info":""},{"id":"eacbb9ef.69d5c8","type":"EventListener","z":"main.flow","name":"POST /order","eventSource":"api","dynamodbOperation":"","apiMethod":"post","apiUrl":"/order","albMethod":"any","albUrl":"","bucketName":"","event":"s3:ObjectCreated:*","x":82.5,"y":160,"wires":[["5eb3cd61.894f04"]],"caname":"aws-event-handler","category":"aws"},{"id":"5eb3cd61.894f04","type":"Logger","z":"main.flow","name":"Log_Entry","level":"INFO","message":"'Order received' & msg.payload","x":182.5,"y":160,"wires":[["dc2789e3.16f788"]],"caname":"logger","category":"logging"},{"id":"b5fc6ccd.17dd7","type":"EventListener-End","z":"main.flow","name":"Success","statusCode":"202","headers":{"Content-Type":"application/json"},"payload":"{\"status\" : \"confirmed\"}","x":822.5,"y":160,"wires":[],"caname":"eventlistenerend","category":"aws"},{"id":"3aa032bd.826cae","type":"TestCase","z":"test.flow","name":"Test Post /order","selectedTargetNode":"eacbb9ef.69d5c8","payload":"{\n  \"path\": \"/order\",\n  \"headers\": {\n    \"Accept\": \"text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,*/*;q=0.8\",\n    \"Accept-Encoding\": \"gzip, deflate, lzma, sdch, br\",\n    \"Accept-Language\": \"en-US,en;q=0.8\",\n    \"CloudFront-Forwarded-Proto\": \"https\",\n    \"CloudFront-Is-Desktop-Viewer\": \"true\",\n    \"CloudFront-Is-Mobile-Viewer\": \"false\",\n    \"CloudFront-Is-SmartTV-Viewer\": \"false\",\n    \"CloudFront-Is-Tablet-Viewer\": \"false\",\n    \"CloudFront-Viewer-Country\": \"US\",\n    \"Host\": \"wt6mne2s9k.execute-api.us-west-2.amazonaws.com\",\n    \"Upgrade-Insecure-Requests\": \"1\",\n    \"User-Agent\": \"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/52.0.2743.82 Safari/537.36 OPR/39.0.2256.48\",\n    \"Via\": \"1.1 fb7cca60f0ecd82ce07790c9c5eef16c.cloudfront.net (CloudFront)\",\n    \"X-Amz-Cf-Id\": \"nBsWBOrSHMgnaROZJK1wGCZ9PcRcSpq_oSXZNQwQ10OTZL4cimZo3g==\",\n    \"X-Forwarded-For\": \"192.168.100.1, 192.168.1.1\",\n    \"X-Forwarded-Port\": \"443\",\n    \"X-Forwarded-Proto\": \"https\"\n  },\n  \"pathParameters\": {\n    \"proxy\": \"hello\"\n  },\n  \"requestContext\": {\n    \"accountId\": \"123456789012\",\n    \"resourceId\": \"us4z18\",\n    \"stage\": \"test\",\n    \"requestId\": \"41b45ea3-70b5-11e6-b7bd-69b5aaebc7d9\",\n    \"identity\": {\n      \"cognitoIdentityPoolId\": \"\",\n      \"accountId\": \"\",\n      \"cognitoIdentityId\": \"\",\n      \"caller\": \"\",\n      \"apiKey\": \"\",\n      \"sourceIp\": \"192.168.100.1\",\n      \"cognitoAuthenticationType\": \"\",\n      \"cognitoAuthenticationProvider\": \"\",\n      \"userArn\": \"\",\n      \"userAgent\": \"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/52.0.2743.82 Safari/537.36 OPR/39.0.2256.48\",\n      \"user\": \"\"\n    },\n    \"resourcePath\": \"/{proxy+}\",\n    \"httpMethod\": \"POST\",\n    \"apiId\": \"wt6mne2s9k\"\n  },\n  \"resource\": \"/{proxy+}\",\n  \"httpMethod\": \"POST\",\n  \"queryStringParameters\": {\n    \"name\": \"me\"\n  },\n  \"stageVariables\": {\n    \"stageVarName\": \"stageVarValue\"\n  },\n  \"body\":{\n    \"orderid\": \"19977AB\",\n    \"orderdate\": \"January 08 2020\",\n    \"item\": \"ring\",\n    \"itemmodel\": \"black\",\n    \"qty\": 4,\n    \"address\": \"9, ghe, nsw\"\n  }\n}","initialLoad":"false","x":122.5,"y":160,"wires":[["b970b7d2.5454c8"]],"caname":"test-case","category":"testing"},{"id":"b970b7d2.5454c8","type":"Assertion","z":"test.flow","name":"check response","selector":"jsonBody","property":"hello","comparison":"equals","value":"world","x":265,"y":160,"wires":[["e0721cc7.653eb"]],"caname":"test-assertion","category":"testing"},{"id":"e0721cc7.653eb","type":"TestCaseEnd","z":"test.flow","name":"TestCaseEnd","x":425,"y":160,"wires":[],"caname":"test-case-end","category":"testing"},{"id":"961c1543.9e00e8","type":"SendGrid","z":"main.flow","name":"SendGrid","operation":"DynamicTemplate","to":"vars.payload.email","from":"","cc":"","bcc":"","subject":"'Invoice -' & msg.payload.orderid ","body":"test","templateid":"","replyto":"","content":"msg.payload","apikey":"","contactid":"","timeout":5000,"x":702.5,"y":160,"wires":[["b5fc6ccd.17dd7"]],"caname":"SendGrid","category":"Platform"},{"id":"e593eaaa.5fee08","type":"Dynamo DB","z":"main.flow","name":"OrderManagementSystem","operation":"PutItem","tableArn":"","columns":[{"columnType":"S","columnName":"orderid","columnValue":"vars.payload.orderid"},{"columnType":"S","columnName":"address","columnValue":"vars.payload.address"},{"columnType":"S","columnName":"orderdate","columnValue":"vars.payload.orderdate"},{"columnType":"S","columnName":"item","columnValue":"vars.payload.item"},{"columnType":"S","columnName":"itemmodel","columnValue":"vars.payload.itemmodel"},{"columnType":"N","columnName":"qty","columnValue":"vars.payload.qty"},{"columnType":"S","columnName":"email","columnValue":"vars.payload.email"}],"x":422.5,"y":160,"wires":[["33c61402.4c1ecc"]],"caname":"dynamo","category":"aws"},{"id":"dc2789e3.16f788","type":"Set-Property","z":"main.flow","name":"StoreToVariable","rules":[{"t":"set","p":"payload","pt":"cavars","to":"payload","tot":"camsg"}],"action":"","property":"","from":"","to":"","reg":false,"x":282.5,"y":160,"wires":[["e593eaaa.5fee08"]],"caname":"setproperty","category":"transformation"},{"id":"33c61402.4c1ecc","type":"Datamapper","z":"main.flow","name":"ReceiptPreperation","datamappertype":"(\n$orderdata := $flowContext(\"payload\",\"vars\");\n$itemprice := 12;\n$shipping := 4.25;\n$tax := 0.25;\n$subtotal := $orderdata.qty * 12;\n$total := $subtotal + $shipping + $tax ;\n\n{\n  \"orderid\" : $orderdata.orderid,\n  \"item\" : $orderdata.item,\n  \"itemmodel\": $orderdata.itemmodel,\n  \"address\" : $orderdata.address,\n  \"orderdate\" : $orderdata.orderdate,\n  \"subtotal\": $subtotal,\n  \"itemprice\": 12,\n  \"shipping\": 4.25,\n  \"tax\": 0.25,\n  \"qty\": $orderdata.qty,\n  \"total\": $total\n};) ","testdataeditortype":"{\n   \"orderid\":\"123abc\",\n   \"orderdate\":\"08-08-1965\",\n   \"item\":\"ring\",\n   \"itemmodel\":\"black\",\n   \"qty\":2,\n   \"address\":\"9, ghe, nsw\",\n   \"price\":14,\n   \"tax\":0.25,\n   \"shipping\":3.2,\n   \"total\":31.45\n}","x":562.5,"y":160,"wires":[["961c1543.9e00e8"]],"caname":"datamapper","category":"transformation"}]