kumo-secondapiflow/kumo-secondapiflow-flow.json
[{"id":"main.flow","type":"tab","label":"main","disabled":false,"info":""},{"id":"test.flow","type":"tab","label":"test","disabled":false,"info":""},{"id":"667ee474.f39a5c","type":"tab","label":"main","disabled":false,"info":""},{"id":"afc5ce7e.b1108","type":"tab","label":"test","disabled":false,"info":""},{"id":"eacbb9ef.69d5c8","type":"EventListener","z":"main.flow","name":"","eventSource":"api","dynamodbOperation":"","apiMethod":"post","apiUrl":"/products","albMethod":"any","albUrl":"","bucketName":"","event":"s3:ObjectCreated:*","x":120,"y":160,"wires":[["d0cc7581.6e7ba8"]],"caname":"aws-event-handler","category":"aws"},{"id":"b5fc6ccd.17dd7","type":"EventListener-End","z":"main.flow","name":"Success","statusCode":"200","headers":{},"Payloader":"{'hello': 'world'}","PayloaderType":"str","x":482.5,"y":160,"wires":[],"caname":"eventlistenerend","category":"aws"},{"id":"d0cc7581.6e7ba8","type":"Dynamo DB","z":"main.flow","name":"ProductStore","operation":"PutItem","tableName":"products","tableArn":"arn:aws:dynamodb:provideregionhere:accountidhere:table/products","tableArnType":"str","columns":[{"columnType":"S","columnName":"product_name","columnNameType":"str","columnValue":"payload.product_name","columnValueType":"camsg"},{"columnType":"S","columnName":"batch_date","columnNameType":"str","columnValue":"payload.batch_date","columnValueType":"camsg"},{"columnType":"S","columnName":"product_id","columnNameType":"str","columnValue":"payload.product_id","columnValueType":"camsg"},{"columnType":"N","columnName":"qty","columnNameType":"str","columnValue":"payload.qty","columnValueType":"camsg"},{"columnType":"S","columnName":"supplier","columnNameType":"str","columnValue":"payload.supplier","columnValueType":"camsg"}],"x":302.5,"y":160,"wires":[["b5fc6ccd.17dd7"]],"caname":"dynamo","category":"aws"},{"id":"263fac04.65bc54","type":"EventListener","z":"667ee474.f39a5c","name":"","eventSource":"api","dynamodbOperation":"","apiMethod":"get","apiUrl":"/hello","albMethod":"any","albUrl":"","bucketName":"","event":"s3:ObjectCreated:*","x":120,"y":160,"wires":[["3889b12d.db014e"]],"caname":"aws-event-handler","category":"aws"},{"id":"3889b12d.db014e","type":"Logger","z":"667ee474.f39a5c","Level":"INFO","Message":"Test Log","name":"Log","x":310,"y":160,"wires":[["852a4137.b37c5"]],"caname":"logger","category":"logging"},{"id":"852a4137.b37c5","type":"EventListener-End","z":"667ee474.f39a5c","name":"Success","statusCode":"200","headers":{},"Payloader":"{'status': 'inserted'}","PayloaderType":"str","x":520,"y":160,"wires":[],"caname":"eventlistenerend","category":"aws"}]