ContactUs/ContactUs-flow.json
[{"id":"main.flow","type":"tab","label":"main","disabled":false,"info":""},{"id":"eacbb9ef.69d5c8","type":"EventListener","z":"main.flow","name":"ContactUs : Save (POST :/contact)","eventSource":"api","dynamodbOperation":"","apiMethod":"post","apiUrl":"/contact","albMethod":"any","albUrl":"","bucketName":"","event":"s3:ObjectCreated:*","x":62.5,"y":160,"wires":[["ed7900ec.66f2e"]],"caname":"aws-event-handler","category":"aws"},{"id":"d76c0a34.a70178","type":"EventListener-End","z":"main.flow","name":"Finish - Saved","statusCode":"201","headers":{"Content-Type":"application/json","Access-Control-Allow-Origin":"*"},"Payloader":"{\"status\":\"saved\"}","PayloaderType":"str","x":1162.5,"y":100,"wires":[],"caname":"eventlistenerend","category":"aws"},{"id":"ed7900ec.66f2e","type":"Logger","z":"main.flow","Level":"INFO","Message":"msg.payload","name":"Log_Entry_ContactUs_Save","x":202.5,"y":160,"wires":[["c850b803.37fb28"]],"caname":"logger","category":"logging"},{"id":"d7c9f68b.2dffa8","type":"Logger","z":"main.flow","Level":"INFO","Message":"Contact Saved","name":"Log_Exit_ContactUs_Save","x":1042.5,"y":100,"wires":[["d76c0a34.a70178"]],"caname":"logger","category":"logging"},{"id":"ff8daa8.ed02658","type":"Dynamo DB","z":"main.flow","name":"ContactUs : Retrieve from Dynamo","operation":"GetItem","tableName":"contact_us","tableArn":"arn:aws:dynamodb:ap-southeast-2:174842903734:table/contact_us","columns":[{"columnType":"S","columnName":"name","columnNameType":"str","columnValue":"payload.name","columnValueType":"camsg"}],"x":642.5,"y":160,"wires":[["e0761f93.6131c"]],"caname":"dynamo","category":"aws"},{"id":"4c86af1e.cc542","type":"Logger","z":"main.flow","Level":"INFO","Message":"Contact Already Existed","name":"Log_Exit_ContactUs_Save","x":902.5,"y":220,"wires":[["34759bd6.69bdc4"]],"caname":"logger","category":"logging"},{"id":"34759bd6.69bdc4","type":"EventListener-End","z":"main.flow","name":"Finish - AlreadyExist","statusCode":"409","headers":{"Content-Type":"application/json","Access-Control-Allow-Origin":"*"},"Payloader":"{\"status\":\"record exist\"}","PayloaderType":"str","x":1042.5,"y":220,"wires":[],"caname":"eventlistenerend","category":"aws"},{"id":"684ed1c0.f8e2c","type":"Set-Property","z":"main.flow","name":"Store_Payload","rules":[{"t":"set","p":"temp","pt":"cavars","to":"payload","tot":"camsg"}],"action":"","property":"","from":"","to":"","reg":false,"x":522.5,"y":160,"wires":[["ff8daa8.ed02658"]],"caname":"setproperty","category":"transformation"},{"id":"df981515.6de238","type":"catch","z":"main.flow","name":"Catch_All","scope":null,"uncaught":true,"x":102.5,"y":440,"wires":[["f0ee9739.3dbf58"]],"caname":"catch","category":"exception"},{"id":"f0ee9739.3dbf58","type":"Logger","z":"main.flow","Level":"INFO","Message":"msg.error","name":"Log_Failure","x":242.5,"y":440,"wires":[["e5c98a05.c64b88"]],"caname":"logger","category":"logging"},{"id":"c850b803.37fb28","type":"Function","z":"main.flow","name":"Authentication","outputs":1,"noerr":0,"query":"let auth_token = JSON.stringify(msg.header.event.Records[0].headers.Authorization);\nif((typeof auth_token != \"undefined\") || auth_token != ''){\n  var token = auth_token.split(\" \")[1];\n  let buff = new Buffer(token, 'base64');\n  let token_text = buff.toString('ascii');\n  if(token_text == 'arun:arun'){\n    return msg;\n  }\n  else{\n  throw \"Authentication failed\"; \n  }\n}else{\n  console.log(\"No token provided\");\n  throw \"No token provided\"; \n}\n\n","x":319.5,"y":160,"wires":[["f40c74d7.4b7858"]],"caname":"function","category":"transformation"},{"id":"d8fcf75a.e5eb78","type":"catch","z":"main.flow","name":"Authentication_Catch","scope":["c850b803.37fb28"],"uncaught":false,"x":102.5,"y":360,"wires":[["40f3d69b.57f1c8"]],"caname":"catch","category":"exception"},{"id":"d54355fa.6a3a48","type":"EventListener-End","z":"main.flow","name":"Authentication_Failure_Respose","statusCode":"401","headers":{"Content-Type":"application/json","Access-Control-Allow-Origin":"*"},"Payloader":"{\"status\" : \"Un-Authorized\"}","PayloaderType":"str","x":382.5,"y":360,"wires":[],"caname":"eventlistenerend","category":"aws"},{"id":"40f3d69b.57f1c8","type":"Logger","z":"main.flow","Level":"INFO","Message":"Authentication failed","name":"Log_Authentication_Failure","x":242.5,"y":360,"wires":[["d54355fa.6a3a48"]],"caname":"logger","category":"logging"},{"id":"e5c98a05.c64b88","type":"EventListener-End","z":"main.flow","name":"Internal_Server_Error","statusCode":"500","headers":{"Content-Type":"application/json","Access-Control-Allow-Origin":"*"},"Payloader":"{\"status\" : \"Internal Server Error\"}","PayloaderType":"str","x":382.5,"y":440,"wires":[],"caname":"eventlistenerend","category":"aws"},{"id":"e2e7f4f5.e6c058","type":"SES","z":"main.flow","operation":"SendEmail","BccAddresses":"","BccAddressesType":"str","CcAddresses":"","CcAddressesType":"str","ToAddresses":"arun@kumologica.com","ToAddressesType":"str","Message":"Basic Authentication for ContactUs API has failed. Please verify for any potential breach.","MessageType":"str","Subject":"Authentication failure for ContactUs API","SubjectType":"str","Source":"arun@kumologica.com","SourceType":"str","ReplyToAddresses":"","ReplyToAddressesType":"str","name":"Email_Notificaiton","x":562.5,"y":340,"wires":[[]],"caname":"SES","category":"aws"},{"id":"f40c74d7.4b7858","type":"json-schema-validator","z":"main.flow","name":"Validation","Property":"payload","PropertyType":"camsg","query":"{\n  \"$schema\": \"http://json-schema.org/draft-07/schema#\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"name\": {\n      \"type\": \"string\"\n    },\n    \"company\": {\n      \"type\": \"string\"\n    },\n    \"email\": {\n      \"type\": \"string\"\n    },\n    \"phoneNumber\": {\n      \"type\": \"integer\"\n    },\n    \"message\": {\n      \"type\": \"string\"\n    }\n  },\n  \"required\": [\n    \"name\",\n    \"company\",\n    \"email\"\n  ]\n}","x":422.5,"y":160,"wires":[["684ed1c0.f8e2c"]],"caname":"JSONSchemaVal","category":"validation"},{"id":"c264598.0a4f9a8","type":"catch","z":"main.flow","name":"Validation_Catch","scope":["f40c74d7.4b7858"],"uncaught":false,"x":102.5,"y":280,"wires":[["dbfb38ba.0c39b8"]],"caname":"catch","category":"exception"},{"id":"dbfb38ba.0c39b8","type":"Logger","z":"main.flow","Level":"INFO","Message":"Request Validation Failed - JSON.stringify(msg._error)","name":"Log_Validation_Failure","x":242.5,"y":280,"wires":[["797e1fde.6f2b5"]],"caname":"logger","category":"logging"},{"id":"797e1fde.6f2b5","type":"EventListener-End","z":"main.flow","name":"Validation_Failure","statusCode":"422","headers":{"Content-Type":"application/json","Access-Control-Allow-Origin":"*"},"Payloader":"{\"status\" : \"Request cannot be processed\"}","PayloaderType":"str","x":382.5,"y":280,"wires":[],"caname":"eventlistenerend","category":"aws"},{"id":"b6dde61a.976c48","type":"Dynamo DB","z":"main.flow","name":"ContactUs : Save to Dynamo","operation":"PutItem","tableName":"contact_us","tableArn":"arn:aws:dynamodb:ap-southeast-2:174842903734:table/contact_us","columns":[{"columnType":"S","columnName":"name","columnNameType":"str","columnValue":"temp.name","columnValueType":"cavars"},{"columnType":"S","columnName":"company","columnNameType":"str","columnValue":"temp.company","columnValueType":"cavars"},{"columnType":"S","columnName":"email","columnNameType":"str","columnValue":"temp.email","columnValueType":"cavars"},{"columnType":"N","columnName":"phoneNumber","columnNameType":"str","columnValue":"00000000","columnValueType":"num"},{"columnType":"S","columnName":"message","columnNameType":"str","columnValue":"temp.message","columnValueType":"cavars"}],"x":902.5,"y":100,"wires":[["d7c9f68b.2dffa8"]],"caname":"dynamo","category":"aws"},{"id":"e0761f93.6131c","type":"Switch","z":"main.flow","name":"","property":"payload","propertyType":"camsg","rules":[{"t":"empty"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":742.5,"y":160,"wires":[["b6dde61a.976c48"],["4c86af1e.cc542"]],"caname":"switch","category":"routing"}]