dataextractionapi/DataExtractionflow.json
[{"id":"main.flow","type":"tab","label":"main","disabled":false,"info":""},{"id":"test.flow","type":"tab","label":"test","disabled":false,"info":""},{"id":"eacbb9ef.69d5c8","type":"EventListener","z":"main.flow","name":"GET /covid/stats/:country","eventSource":"api","dynamodbOperation":"","apiMethod":"get","apiUrl":"/covid/stats/:country","albMethod":"any","albUrl":"","bucketName":"","event":"s3:ObjectCreated:*","x":82.5,"y":160,"wires":[["5bd1cbce.10c8e4"]],"caname":"aws-event-handler","category":"aws"},{"id":"b5fc6ccd.17dd7","type":"EventListener-End","z":"main.flow","name":"Success","statusCode":"200","headers":{"Content-Type":"application/json"},"payload":"msg.payload","x":882.5,"y":160,"wires":[],"caname":"eventlistenerend","category":"aws"},{"id":"3aa032bd.826cae","type":"TestCase","z":"test.flow","name":"Test Get /covid/stats/","selectedTargetNode":"eacbb9ef.69d5c8","payload":"{\n  \"path\": \"/covid/stats/:country\",\n  \"headers\": {\n    \"Accept\": \"text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,*/*;q=0.8\",\n    \"Accept-Encoding\": \"gzip, deflate, lzma, sdch, br\",\n    \"Accept-Language\": \"en-US,en;q=0.8\",\n    \"CloudFront-Forwarded-Proto\": \"https\",\n    \"CloudFront-Is-Desktop-Viewer\": \"true\",\n    \"CloudFront-Is-Mobile-Viewer\": \"false\",\n    \"CloudFront-Is-SmartTV-Viewer\": \"false\",\n    \"CloudFront-Is-Tablet-Viewer\": \"false\",\n    \"CloudFront-Viewer-Country\": \"US\",\n    \"Host\": \"wt6mnk.execute-api.us-west-2.amazonaws.com\",\n    \"Upgrade-Insecure-Requests\": \"1\",\n    \"User-Agent\": \"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/52.0.2743.82 Safari/537.36 OPR/39.0.2256.48\",\n    \"Via\": \"1.1 fb7cca60f0ecd82ce07790c9c5eef16c.cloudfront.net (CloudFront)\",\n    \"X-Amz-Cf-Id\": \"nBsWBOrSHMgnaROZJK1wGCZ9PcRcSpq_oSXZNQwQ10OTZL4cimZo3g==\",\n    \"X-Forwarded-For\": \"192.168.100.1, 192.168.1.1\",\n    \"X-Forwarded-Port\": \"443\",\n    \"X-Forwarded-Proto\": \"https\"\n  },\n  \"pathParameters\": {\n    \"proxy\": \"hello\"\n  },\n  \"requestContext\": {\n    \"accountId\": \"123456789012\",\n    \"resourceId\": \"us4z18\",\n    \"stage\": \"test\",\n    \"requestId\": \"41b45ea3-70b5-11e6-b7bd-69b5aaebc7d9\",\n    \"identity\": {\n      \"cognitoIdentityPoolId\": \"\",\n      \"accountId\": \"\",\n      \"cognitoIdentityId\": \"\",\n      \"caller\": \"\",\n      \"apiKey\": \"\",\n      \"sourceIp\": \"192.168.100.1\",\n      \"cognitoAuthenticationType\": \"\",\n      \"cognitoAuthenticationProvider\": \"\",\n      \"userArn\": \"\",\n      \"userAgent\": \"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/52.0.2743.82 Safari/537.36 OPR/39.0.2256.48\",\n      \"user\": \"\"\n    },\n    \"resourcePath\": \"/{proxy+}\",\n    \"httpMethod\": \"GET\",\n    \"apiId\": \"wt6mne2s9k\"\n  },\n  \"resource\": \"/{proxy+}\",\n  \"httpMethod\": \"GET\",\n  \"queryStringParameters\": {\n    \"country\": \"australia\"\n  },\n  \"stageVariables\": {\n    \"stageVarName\": \"stageVarValue\"\n  }\n}","initialLoad":"false","x":122.5,"y":160,"wires":[["e0721cc7.653eb"]],"caname":"test-case","category":"testing"},{"id":"e0721cc7.653eb","type":"TestCaseEnd","z":"test.flow","name":"TestCaseEnd","x":425,"y":160,"wires":[],"caname":"test-case-end","category":"testing"},{"id":"de9fef7.0006d1","type":"HTTP Req","z":"main.flow","name":"InvokeCOVID19API","Method":"GET","Ret":"obj","Paytoqs":false,"Url":"vars.url","AuthType":"none","User":"","Password":"","Token":"","ResponseTimeout":"","x":422.5,"y":160,"wires":[["40e4bc97.398034"]],"caname":"httprequest","category":"web"},{"id":"40e4bc97.398034","type":"Datamapper","z":"main.flow","name":"ExtractValues","datamappertype":"$map(msg, function($v,$i){\n   {\n     \"Country\" : $v.Country,\n     \"Cases\" : $v.Cases,\n     \"Date\" : $v.Date\n   }\n})\n","testdataeditortype":"[\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":2,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-03-02T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":2,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-03-03T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":2,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-03-04T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":2,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-03-05T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":4,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-03-06T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":4,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-03-07T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":6,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-03-08T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":19,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-03-09T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":27,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-03-10T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":34,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-03-11T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":34,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-03-12T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":69,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-03-13T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":96,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-03-14T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":117,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-03-15T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":134,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-03-16T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":172,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-03-17T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":227,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-03-18T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":311,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-03-19T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":369,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-03-20T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":450,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-03-21T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":514,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-03-22T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":579,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-03-23T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":686,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-03-24T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":790,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-03-25T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":893,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-03-26T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":1046,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-03-27T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":1155,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-03-28T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":1285,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-03-29T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":1414,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-03-30T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":1528,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-03-31T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":1677,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-04-01T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":1790,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-04-02T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":1986,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-04-03T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":2092,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-04-04T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":2273,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-04-05T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":2491,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-04-06T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":2738,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-04-07T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":2956,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-04-08T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":3293,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-04-09T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":3512,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-04-10T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":3842,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-04-11T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":4241,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-04-12T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":4557,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-04-13T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":4839,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-04-14T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":5136,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-04-15T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":5516,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-04-16T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":5923,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-04-17T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":6248,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-04-18T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":6575,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-04-19T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":6760,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-04-20T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":7135,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-04-21T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":7418,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-04-22T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":7775,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-04-23T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":8211,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-04-24T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":8607,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-04-25T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":8882,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-04-26T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":9096,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-04-27T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":9511,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-04-28T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":9771,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-04-29T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":10118,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-04-30T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":10551,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-05-01T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":10843,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-05-02T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":11192,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-05-03T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":11587,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-05-04T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":12071,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-05-05T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":12438,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-05-06T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":12776,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-05-07T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":13112,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-05-08T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":13645,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-05-09T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":14032,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-05-10T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":14265,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-05-11T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":14749,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-05-12T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":15438,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-05-13T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":16006,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-05-14T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":16496,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-05-15T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":17025,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-05-16T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":17514,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-05-17T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":18010,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-05-18T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":18496,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-05-19T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":19189,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-05-20T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":20162,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-05-21T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":20796,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-05-22T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":21745,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-05-23T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":22271,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-05-24T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":22750,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-05-25T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":23165,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-05-26T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":23851,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-05-27T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":24538,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-05-28T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":25216,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-05-29T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":25773,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-05-30T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":26473,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-05-31T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":26940,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-06-01T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":27549,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-06-02T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":28233,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-06-03T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":28818,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-06-04T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":29521,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-06-05T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":30514,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-06-06T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":31186,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-06-07T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":32033,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-06-08T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":33076,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-06-09T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":34316,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-06-10T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":35295,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-06-11T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":36406,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-06-12T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":37420,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-06-13T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":38277,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-06-14T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":39294,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-06-15T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":40400,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-06-16T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":41431,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-06-17T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":42762,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-06-18T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":43803,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-06-19T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":45029,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-06-20T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":45891,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-06-21T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":46845,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-06-22T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":47896,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-06-23T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":49009,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-06-24T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":50187,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-06-25T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":51427,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-06-26T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":52812,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-06-27T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":54010,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-06-28T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":55092,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-06-29T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":56385,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-06-30T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":57770,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-07-01T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":59394,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-07-02T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":60695,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-07-03T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":62142,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-07-04T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":63749,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-07-05T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":64958,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-07-06T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":66226,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-07-07T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":68079,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-07-08T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":70736,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-07-09T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":72347,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-07-10T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":74018,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-07-11T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":75699,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-07-12T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":76981,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-07-13T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":78572,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-07-14T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":80094,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-07-15T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":81668,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-07-16T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":83130,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-07-17T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":84882,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-07-18T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":86521,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-07-19T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":88214,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-07-20T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":89869,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-07-21T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":91751,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-07-22T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":93657,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-07-23T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":95418,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-07-24T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":97286,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-07-25T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":98778,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-07-26T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":100303,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-07-27T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":102051,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-07-28T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":104432,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-07-29T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":106336,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-07-30T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":108376,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-07-31T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":109936,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-08-01T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":111455,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-08-02T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":113134,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-08-03T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":115056,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-08-04T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":116871,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-08-05T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":118753,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-08-06T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":121226,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-08-07T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":123503,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-08-08T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":125396,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-08-09T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":127083,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-08-10T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":128776,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-08-11T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":130718,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-08-12T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":132816,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-08-13T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":135123,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-08-14T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":137468,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-08-15T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":139549,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-08-16T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":141370,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-08-17T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":143043,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-08-18T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":144945,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-08-19T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":147211,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-08-20T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":149408,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-08-21T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":151498,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-08-22T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":153535,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-08-23T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":155412,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-08-24T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":157859,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-08-25T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":160165,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-08-26T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":162884,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-08-27T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":165887,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-08-28T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":169195,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-08-29T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":172053,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-08-30T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":174796,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-08-31T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":177571,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-09-01T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":180646,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-09-02T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":184268,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-09-03T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":187537,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-09-04T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":190665,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-09-05T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":194109,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-09-06T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":196989,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-09-07T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":200035,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-09-08T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":203342,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-09-09T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":207203,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-09-10T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":210940,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-09-11T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":214746,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-09-12T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":218382,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-09-13T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":221523,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-09-14T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":225030,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-09-15T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":228993,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-09-16T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":232628,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-09-17T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":236519,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-09-18T00:00:00Z\"\n   },\n   {\n       \"Country\":\"Indonesia\",\n       \"CountryCode\":\"\",\n       \"Province\":\"\",\n       \"City\":\"\",\n       \"CityCode\":\"\",\n       \"Lat\":\"0\",\n       \"Lon\":\"0\",\n       \"Cases\":240687,\n       \"Status\":\"confirmed\",\n       \"Date\":\"2020-09-19T00:00:00Z\"\n   }\n]","x":562.5,"y":160,"wires":[["a727f2cb.d387f"]],"caname":"datamapper","category":"transformation"},{"id":"a727f2cb.d387f","type":"CSV","z":"main.flow","name":"CSV","sep":",","hdrin":"","hdrout":"","multi":"mult","ret":"\\n","temp":"Country,Cases,Date","skip":"0","x":662.5,"y":160,"wires":[["fa9cd021.f11c4"]],"caname":"CSV","category":"transformation"},{"id":"fa9cd021.f11c4","type":"S3","z":"main.flow","operation":"PutObject","Bucket":"covidinfostore","Key":"vars.country&'.csv'","KeyType":"","Content":"msg.payload","ContentType":"text/csv","BucketType":"","CopySource":"","CopySourceType":"","DestinationBucket":"","DestinationBucketType":"","DestinationKey":"","DestinationKeyType":"","Delete":"","DeleteType":"","name":"S3","x":762.5,"y":160,"wires":[["b5fc6ccd.17dd7"]],"caname":"S3","category":"aws"},{"id":"5bd1cbce.10c8e4","type":"Set-Property","z":"main.flow","name":"SetCountry","rules":[{"t":"set","p":"country","pt":"cavars","to":"header.event.Records[0].pathParameters.country","tot":"camsg"}],"action":"","property":"","from":"","to":"","reg":false,"x":202.5,"y":160,"wires":[["7c8992cb.5f687c"]],"caname":"setproperty","category":"transformation"},{"id":"7c8992cb.5f687c","type":"Set-Property","z":"main.flow","name":"SetUrl","rules":[{"t":"set","p":"url","pt":"cavars","to":"'https://api.covid19api.com/total/dayone/country/'&$flowContext(\"country\",\"vars\")&'/status/confirmed'","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":302.5,"y":160,"wires":[["de9fef7.0006d1"]],"caname":"setproperty","category":"transformation"}]