SplunkLogging/MobileChannelAPI/MobileChannelAPI-flow.json
[{"id":"main.flow","type":"tab","label":"main","disabled":false,"info":""},{"id":"test.flow","type":"tab","label":"test","disabled":false,"info":""},{"id":"85a45256.921aa","type":"EventListener","z":"main.flow","name":"POST /mobile","eventSource":"api","dynamodbOperation":"","apiMethod":"post","apiUrl":"/mobile","albMethod":"any","albUrl":"","bucketName":"","event":"s3:ObjectCreated:*","x":122.5,"y":140,"wires":[["19da0f5b.87e8f1"]],"caname":"aws-event-handler","category":"aws"},{"id":"8243852c.4c31d8","type":"EventListener-End","z":"main.flow","name":"Success","statusCode":"200","headers":{"Content-Type":"application/json"},"payload":"msg.payload","x":542.5,"y":140,"wires":[],"caname":"eventlistenerend","category":"aws"},{"id":"1d374c83.a36123","type":"HTTP Req","z":"main.flow","name":"Invoke_OrderFullFillmentService","Method":"POST","Ret":"txt","Paytoqs":false,"Url":"https://test.ur.com/order","AuthType":"none","User":"","Password":"","Token":"","ResponseTimeout":"120000","x":402.5,"y":140,"wires":[["8243852c.4c31d8"]],"caname":"httprequest","category":"web"},{"id":"19da0f5b.87e8f1","type":"splunk","z":"main.flow","name":"Log_Entry","splunkHost":"prd.splunkcloud.com","splunkHostType":"","splunkPort":"8088","splunkPortType":"","hecToken":"7bfe","hecTokenType":"","splunkLogData":"{\"TrackingID\" : msg.payload.TxnID,\"ServiceName\":\"Mobile_Channel\", \"Data\": msg.payload }","splunkLogDataType":"","x":262.5,"y":140,"wires":[["1d374c83.a36123"]],"caname":"splunk","category":"logging"},{"id":"b349a700.0af7b8","type":"TestCase","z":"test.flow","name":"/mobile","selectedTargetNode":"85a45256.921aa","payload":"{\n  \"path\": \"/mobile\",\n  \"headers\": {\n    \"Accept\": \"text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,*/*;q=0.8\",\n    \"Accept-Encoding\": \"gzip, deflate, lzma, sdch, br\",\n    \"Accept-Language\": \"en-US,en;q=0.8\",\n    \"CloudFront-Forwarded-Proto\": \"https\",\n    \"CloudFront-Is-Desktop-Viewer\": \"true\",\n    \"CloudFront-Is-Mobile-Viewer\": \"false\",\n    \"CloudFront-Is-SmartTV-Viewer\": \"false\",\n    \"CloudFront-Is-Tablet-Viewer\": \"false\",\n    \"CloudFront-Viewer-Country\": \"US\",\n    \"Host\": \"wt6mne2s9k.execute-api.us-west-2.amazonaws.com\",\n    \"Upgrade-Insecure-Requests\": \"1\",\n    \"User-Agent\": \"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/52.0.2743.82 Safari/537.36 OPR/39.0.2256.48\",\n    \"Via\": \"1.1 fb7cca60f0ecd82ce07790c9c5eef16c.cloudfront.net (CloudFront)\",\n    \"X-Amz-Cf-Id\": \"nBsWBOrSHMgnaROZJK1wGCZ9PcRcSpq_oSXZNQwQ10OTZL4cimZo3g==\",\n    \"X-Forwarded-For\": \"192.168.100.1, 192.168.1.1\",\n    \"X-Forwarded-Port\": \"443\",\n    \"X-Forwarded-Proto\": \"https\"\n  },\n  \"pathParameters\": {\n    \"proxy\": \"hello\"\n  },\n  \"requestContext\": {\n    \"accountId\": \"123456789012\",\n    \"resourceId\": \"us4z18\",\n    \"stage\": \"test\",\n    \"requestId\": \"41b45ea3-70b5-11e6-b7bd-69b5aaebc7d9\",\n    \"identity\": {\n      \"cognitoIdentityPoolId\": \"\",\n      \"accountId\": \"\",\n      \"cognitoIdentityId\": \"\",\n      \"caller\": \"\",\n      \"apiKey\": \"\",\n      \"sourceIp\": \"192.168.100.1\",\n      \"cognitoAuthenticationType\": \"\",\n      \"cognitoAuthenticationProvider\": \"\",\n      \"userArn\": \"\",\n      \"userAgent\": \"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/52.0.2743.82 Safari/537.36 OPR/39.0.2256.48\",\n      \"user\": \"\"\n    },\n    \"resourcePath\": \"/{proxy+}\",\n    \"httpMethod\": \"POST\",\n    \"apiId\": \"wt6mne2s9k\"\n  },\n  \"resource\": \"/{proxy+}\",\n  \"httpMethod\": \"POST\",\n  \"queryStringParameters\": {\n    \"name\": \"me\"\n  },\n  \"stageVariables\": {\n    \"stageVarName\": \"stageVarValue\"\n  },\n  \"body\":{\n    \"OrderID\": \"ATK-0001\",\n    \"TxnID\" : \"0948939-AWHDH\",\n    \"Item\" : {\n        \"Name\" : \"ABC Laptop\",\n        \"Type\" : \"Mini-5\",\n        \"Qty\" :  1\n    },\n    \"Address\" :{\n        \"Unit\" : \"9\",\n        \"Street\" : \"TTK Street\",\n        \"Road\" : \"Tower Road\",\n        \"State\" : \"NSW\",\n        \"Country\" : \"Australia\",\n        \"PIN\" : 94839\n        \n    }\n}\n\n}","initialLoad":"false","x":140,"y":320,"wires":[["626b2806.bc36d8"]],"caname":"test-case","category":"testing"},{"id":"626b2806.bc36d8","type":"TestCaseEnd","z":"test.flow","name":"TestCaseEnd","x":382.5,"y":320,"wires":[],"caname":"test-case-end","category":"testing"}]