ItemAvailability/ItemAvailability-flow.json
[{"id":"main.flow","type":"tab","label":"main","disabled":false,"info":""},{"id":"test.flow","type":"tab","label":"test","disabled":false,"info":""},{"id":"eacbb9ef.69d5c8","type":"EventListener","z":"main.flow","name":"GET /item","eventSource":"api","dynamodbOperation":"","apiMethod":"get","apiUrl":"/item","albMethod":"any","albUrl":"","bucketName":"","event":"s3:ObjectCreated:*","x":102.5,"y":160,"wires":[["5eb3cd61.894f04"]],"caname":"aws-event-handler","category":"aws"},{"id":"5eb3cd61.894f04","type":"Logger","z":"main.flow","name":"Log_Entry","level":"INFO","message":"msg.header.event.Records[0].queryStringParameters.itemtype","x":182.5,"y":160,"wires":[["accf83a7.4c396"]],"caname":"logger","category":"logging"},{"id":"b5fc6ccd.17dd7","type":"EventListener-End","z":"main.flow","name":"Response","statusCode":"200","headers":{"Content-Type":"application/json"},"payload":"msg.payload","x":1162.5,"y":40,"wires":[],"caname":"eventlistenerend","category":"aws"},{"id":"3aa032bd.826cae","type":"TestCase","z":"test.flow","name":"Test Get /item","selectedTargetNode":"eacbb9ef.69d5c8","payload":"{\n  \"path\": \"/item\",\n  \"headers\": {\n    \"Accept\": \"text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,*/*;q=0.8\",\n    \"Accept-Encoding\": \"gzip, deflate, lzma, sdch, br\",\n    \"Accept-Language\": \"en-US,en;q=0.8\",\n    \"CloudFront-Forwarded-Proto\": \"https\",\n    \"CloudFront-Is-Desktop-Viewer\": \"true\",\n    \"CloudFront-Is-Mobile-Viewer\": \"false\",\n    \"CloudFront-Is-SmartTV-Viewer\": \"false\",\n    \"CloudFront-Is-Tablet-Viewer\": \"false\",\n    \"CloudFront-Viewer-Country\": \"US\",\n    \"Host\": \"wt6mne2s9k.execute-api.us-west-2.amazonaws.com\",\n    \"Upgrade-Insecure-Requests\": \"1\",\n    \"User-Agent\": \"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/52.0.2743.82 Safari/537.36 OPR/39.0.2256.48\",\n    \"Via\": \"1.1 fb7cca60f0ecd82ce07790c9c5eef16c.cloudfront.net (CloudFront)\",\n    \"X-Amz-Cf-Id\": \"nBsWBOrSHMgnaROZJK1wGCZ9PcRcSpq_oSXZNQwQ10OTZL4cimZo3g==\",\n    \"X-Forwarded-For\": \"192.168.100.1, 192.168.1.1\",\n    \"X-Forwarded-Port\": \"443\",\n    \"X-Forwarded-Proto\": \"https\"\n  },\n  \"pathParameters\": {\n    \"proxy\": \"hello\"\n  },\n  \"requestContext\": {\n    \"accountId\": \"123456789012\",\n    \"resourceId\": \"us4z18\",\n    \"stage\": \"test\",\n    \"requestId\": \"41b45ea3-70b5-11e6-b7bd-69b5aaebc7d9\",\n    \"identity\": {\n      \"cognitoIdentityPoolId\": \"\",\n      \"accountId\": \"\",\n      \"cognitoIdentityId\": \"\",\n      \"caller\": \"\",\n      \"apiKey\": \"\",\n      \"sourceIp\": \"192.168.100.1\",\n      \"cognitoAuthenticationType\": \"\",\n      \"cognitoAuthenticationProvider\": \"\",\n      \"userArn\": \"\",\n      \"userAgent\": \"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/52.0.2743.82 Safari/537.36 OPR/39.0.2256.48\",\n      \"user\": \"\"\n    },\n    \"resourcePath\": \"/{proxy+}\",\n    \"httpMethod\": \"GET\",\n    \"apiId\": \"wt6mne2s9k\"\n  },\n  \"resource\": \"/{proxy+}\",\n  \"httpMethod\": \"GET\",\n  \"queryStringParameters\": {\n    \"itemtype\": \"audio\"\n  },\n  \"stageVariables\": {\n    \"stageVarName\": \"stageVarValue\"\n  }\n}","initialLoad":"false","x":122.5,"y":160,"wires":[["e0721cc7.653eb"]],"caname":"test-case","category":"testing"},{"id":"e0721cc7.653eb","type":"TestCaseEnd","z":"test.flow","name":"TestCaseEnd","x":425,"y":160,"wires":[],"caname":"test-case-end","category":"testing"},{"id":"accf83a7.4c396","type":"Set-Property","z":"main.flow","name":"Variable","rules":[{"t":"set","p":"itemtype","pt":"cavars","to":"header.event.Records[0].queryStringParameters.itemtype","tot":"camsg"}],"action":"","property":"","from":"","to":"","reg":false,"x":282.5,"y":160,"wires":[["552feaa7.62d6a4"]],"caname":"setproperty","category":"transformation"},{"id":"552feaa7.62d6a4","type":"Switch","z":"main.flow","name":"ChechAvailability","property":"vars.itemtype","propertyType":"","rules":[{"t":"eq","v":"laptop","vt":"str"},{"t":"eq","v":"audio","vt":"str"},{"t":"else"}],"repair":false,"outputs":3,"x":382.5,"y":160,"wires":[["1a857f78.12ff01"],["98534693.900a38"],["fca2f625.226258"]],"caname":"switch","category":"routing"},{"id":"1a857f78.12ff01","type":"Logger","z":"main.flow","name":"WarehouseA","level":"INFO","message":"Request for WarehouseA","x":562.5,"y":40,"wires":[["6d5a2c06.348664"]],"caname":"logger","category":"logging"},{"id":"98534693.900a38","type":"Logger","z":"main.flow","name":"WarehouseB","level":"INFO","message":"Request for WarehouseB","x":562.5,"y":160,"wires":[["60dde973.0b53a8"]],"caname":"logger","category":"logging"},{"id":"fca2f625.226258","type":"Logger","z":"main.flow","name":"Invalid","level":"INFO","message":"Invalid","x":562.5,"y":260,"wires":[["edd8d32e.aa2da"]],"caname":"logger","category":"logging"},{"id":"6d5a2c06.348664","type":"HTTP Req","z":"main.flow","name":"Invoke_WarehouseA","Method":"GET","Ret":"txt","Paytoqs":false,"Url":"http://demo.mockable.io/warehouseA","AuthType":"none","User":"","Password":"","Token":"","ResponseTimeout":"","x":682.5,"y":40,"wires":[["696d6fdc.d0975"]],"caname":"httprequest","category":"web"},{"id":"60dde973.0b53a8","type":"HTTP Req","z":"main.flow","name":"Invoke_WarehouseB","Method":"GET","Ret":"txt","Paytoqs":false,"Url":"http://demo.mockable.io/warehouseB","AuthType":"none","User":"","Password":"","Token":"","ResponseTimeout":"","x":682.5,"y":160,"wires":[["79108a9f.bf8c84"]],"caname":"httprequest","category":"web"},{"id":"696d6fdc.d0975","type":"Logger","z":"main.flow","name":"Log_Response","level":"INFO","message":"msg.payload","x":822.5,"y":40,"wires":[["816d3210.e580a"]],"caname":"logger","category":"logging"},{"id":"79108a9f.bf8c84","type":"Logger","z":"main.flow","name":"Log_Response","level":"INFO","message":"msg.payload","x":822.5,"y":160,"wires":[["6e29d785.d96da8"]],"caname":"logger","category":"logging"},{"id":"816d3210.e580a","type":"XML","z":"main.flow","name":"XMLtoObject","property":"msg.payload","attr":"","chr":"","x":922.5,"y":40,"wires":[["680e7e0d.529fe"]],"caname":"XML","category":"transformation"},{"id":"680e7e0d.529fe","type":"Datamapper","z":"main.flow","name":"TransformMessage","datamappertype":"{\n\t\"ItemType\": msg.payload.storage[0].items.item_type,\n\t\"ItemName\": msg.payload.storage[0].items.item_name,\n\t\"ItemCount\": msg.payload.storage[0].items.item_count\n}","testdataeditortype":"{\n   \"storage\":{\n       \"items\":[\n           {\n               \"item_type\":[\"laptop\"],\n               \"item_id\":[\"DELL7883\"],\n               \"item_name\":[\"DELLInspirom\"],\n               \"item_count\":[\"20\"]\n           }\n       ]\n   }\n}","x":1042.5,"y":40,"wires":[["b5fc6ccd.17dd7"]],"caname":"datamapper","category":"transformation"},{"id":"a16cdaf3.dea358","type":"EventListener-End","z":"main.flow","name":"Response","statusCode":"200","headers":{"Content-Type":"application/json"},"payload":"msg.payload","x":1162.5,"y":160,"wires":[],"caname":"eventlistenerend","category":"aws"},{"id":"edd8d32e.aa2da","type":"EventListener-End","z":"main.flow","name":"Response","statusCode":"200","headers":{"Content-Type":"application/json"},"payload":"{\"status\" : \"Invalid\"}","x":1162.5,"y":260,"wires":[],"caname":"eventlistenerend","category":"aws"},{"id":"4d6cd63.db70328","type":"Datamapper","z":"main.flow","name":"TransformMessage","datamappertype":"{\n\t\"ItemType\": msg.payload[0].w_item_type,\n\t\"ItemName\": msg.payload[0].w_item_name,\n\t\"ItemCount\": msg.payload[0].w_item_count\n}","testdataeditortype":"[\n   {\n       \"w_item_type\" : \"Audio\",\n       \"w_item_name\" : \"Philips\",\n       \"w_item_count\" : 30,\n       \"w_item_id\" : \"PH88831\"\n   }\n]","x":1042.5,"y":160,"wires":[["a16cdaf3.dea358"]],"caname":"datamapper","category":"transformation"},{"id":"6e29d785.d96da8","type":"JSON","z":"main.flow","name":"JSONtoObject","property":"msg.payload","action":"obj","pretty":false,"x":922.5,"y":160,"wires":[["4d6cd63.db70328"]],"caname":"JSON","category":"transformation"}]