IoTSampleUsingMQTT/SampleMQTTflow.json
[{"id":"main.flow","type":"tab","label":"main","disabled":false,"info":""},{"id":"test.flow","type":"tab","label":"test","disabled":false,"info":""},{"id":"eacbb9ef.69d5c8","type":"EventListener","z":"main.flow","name":"POST /passenger/request","eventSource":"api","dynamodbOperation":"","apiMethod":"post","apiUrl":"/passenger/request","albMethod":"any","albUrl":"","bucketName":"","event":"s3:ObjectCreated:*","x":82.5,"y":40,"wires":[["32f73b93.856d64"]],"caname":"aws-event-handler","category":"aws"},{"id":"b5fc6ccd.17dd7","type":"EventListener-End","z":"main.flow","name":"Success","statusCode":"200","headers":{"Content-Type":"application/json"},"payload":"{\"hello\": \"world\"}","x":562.5,"y":40,"wires":[],"caname":"eventlistenerend","category":"aws"},{"id":"3aa032bd.826cae","type":"TestCase","z":"test.flow","name":"Test POST /passenger/request","selectedTargetNode":"eacbb9ef.69d5c8","payload":"{\n  \"path\": \"/passenger/request\",\n  \"headers\": {\n    \"Accept\": \"text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,*/*;q=0.8\",\n    \"Accept-Encoding\": \"gzip, deflate, lzma, sdch, br\",\n    \"Accept-Language\": \"en-US,en;q=0.8\",\n    \"CloudFront-Forwarded-Proto\": \"https\",\n    \"CloudFront-Is-Desktop-Viewer\": \"true\",\n    \"CloudFront-Is-Mobile-Viewer\": \"false\",\n    \"CloudFront-Is-SmartTV-Viewer\": \"false\",\n    \"CloudFront-Is-Tablet-Viewer\": \"false\",\n    \"CloudFront-Viewer-Country\": \"US\",\n    \"Host\": \"wt6mne2s9k.execute-api.us-west-2.amazonaws.com\",\n    \"Upgrade-Insecure-Requests\": \"1\",\n    \"User-Agent\": \"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/52.0.2743.82 Safari/537.36 OPR/39.0.2256.48\",\n    \"Via\": \"1.1 fb7cca60f0ecd82ce07790c9c5eef16c.cloudfront.net (CloudFront)\",\n    \"X-Amz-Cf-Id\": \"nBsWBOrSHMgnaROZJK1wGCZ9PcRcSpq_oSXZNQwQ10OTZL4cimZo3g==\",\n    \"X-Forwarded-For\": \"192.168.100.1, 192.168.1.1\",\n    \"X-Forwarded-Port\": \"443\",\n    \"X-Forwarded-Proto\": \"https\"\n  },\n  \"pathParameters\": {\n    \"proxy\": \"hello\"\n  },\n  \"requestContext\": {\n    \"accountId\": \"123456789012\",\n    \"resourceId\": \"us4z18\",\n    \"stage\": \"test\",\n    \"requestId\": \"41b45ea3-70b5-11e6-b7bd-69b5aaebc7d9\",\n    \"identity\": {\n      \"cognitoIdentityPoolId\": \"\",\n      \"accountId\": \"\",\n      \"cognitoIdentityId\": \"\",\n      \"caller\": \"\",\n      \"apiKey\": \"\",\n      \"sourceIp\": \"192.168.100.1\",\n      \"cognitoAuthenticationType\": \"\",\n      \"cognitoAuthenticationProvider\": \"\",\n      \"userArn\": \"\",\n      \"userAgent\": \"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/52.0.2743.82 Safari/537.36 OPR/39.0.2256.48\",\n      \"user\": \"\"\n    },\n    \"resourcePath\": \"/{proxy+}\",\n    \"httpMethod\": \"POST\",\n    \"apiId\": \"wt6mne2s9k\"\n  },\n  \"resource\": \"/{proxy+}\",\n  \"httpMethod\": \"POST\",\n  \"queryStringParameters\": {\n    \"name\": \"me\"\n  },\n  \"stageVariables\": {\n    \"stageVarName\": \"stageVarValue\"\n  },\n  \"body\" : {\n\t\"test\" : \"arun\",\n\t\"jay\" : \"sample\"\n}\n}","initialLoad":"false","x":122.5,"y":160,"wires":[["e0721cc7.653eb"]],"caname":"test-case","category":"testing"},{"id":"e0721cc7.653eb","type":"TestCaseEnd","z":"test.flow","name":"TestCaseEnd","x":425,"y":160,"wires":[],"caname":"test-case-end","category":"testing"},{"id":"d9076ee0.0da79","type":"MQTT","z":"main.flow","name":"3 SeaterTaxi Topic","message":"Need a taxi with 3seater","topicname":"testtopic/3seater","clientid":"","username":"","password":"","host":"broker.hivemq.com","port":"1883","keepalive":60,"reconnectPeriod":1000,"protocolId":"MQIsdp","protocolVersion":3,"clean":"true","encoding":"utf8","x":822.5,"y":60,"wires":[["5512a0b5.4fe3"]],"caname":"MQTT","category":"IoT"},{"id":"bdaa56f3.a70908","type":"SQS","z":"main.flow","operation":"SendMessage","QueueUrl":"","ReceiptHandle":"","MessageBody":"vars.temp","name":"PassengerSQS","x":442.5,"y":40,"wires":[["b5fc6ccd.17dd7"]],"caname":"SQS","category":"aws"},{"id":"32f73b93.856d64","type":"Logger","z":"main.flow","name":"Logger","level":"INFO","message":"'Passenger request' & msg.payload","x":205,"y":40,"wires":[["f01f5e8.64c21a"]],"caname":"logger","category":"logging"},{"id":"861f0274.f3cd9","type":"Switch","z":"main.flow","name":"CheckAvailability","property":"msg.payload.Item.availability.S","propertyType":"","rules":[{"t":"eq","v":"yes","vt":"str"},{"t":"else"}],"repair":false,"outputs":2,"x":522.5,"y":240,"wires":[["81b138ae.e7dfd8"],["ccaa8070.95b5a"]],"caname":"switch","category":"routing"},{"id":"3844e821.469d18","type":"Dynamo DB","z":"main.flow","name":"GetDriverData","operation":"GetItem","tableArn":"","columns":[{"columnType":"S","columnName":"area_code","columnValue":"msg.payload.areacode"}],"x":402.5,"y":240,"wires":[["861f0274.f3cd9"]],"caname":"dynamo","category":"aws"},{"id":"81b138ae.e7dfd8","type":"Switch","z":"main.flow","name":"SelectTaxiType","property":"msg.payload.Item.vehicle_type.S","propertyType":"","rules":[{"t":"eq","v":"3seater","vt":"str"},{"t":"eq","v":"4seater","vt":"str"},{"t":"eq","v":"5seater","vt":"str"},{"t":"else"}],"repair":false,"outputs":4,"x":622.5,"y":160,"wires":[["d9076ee0.0da79"],["c3a43228.25193"],["8bf4e50a.68ace8"],["c58bc792.423db8"]],"caname":"switch","category":"routing"},{"id":"ccaa8070.95b5a","type":"Logger","z":"main.flow","name":"Logger","level":"INFO","message":"Invalid","x":642.5,"y":440,"wires":[["4d23926c.f5431c"]],"caname":"logger","category":"logging"},{"id":"c3a43228.25193","type":"MQTT","z":"main.flow","name":"4 SeaterTaxi Topic","message":"Need a taxi with 4seater","topicname":"testtopic/4seater","clientid":"","username":"","password":"","host":"broker.hivemq.com","port":"1883","keepalive":60,"reconnectPeriod":1000,"protocolId":"MQIsdp","protocolVersion":3,"clean":"true","encoding":"utf8","x":822.5,"y":160,"wires":[["5512a0b5.4fe3"]],"caname":"MQTT","category":"IoT"},{"id":"8bf4e50a.68ace8","type":"MQTT","z":"main.flow","name":"5 SeaterTaxi Topic","message":"msg.payload.event","topicname":"testtopic/5seater","clientid":"","username":"","password":"","host":"broker.hivemq.com","port":"1883","keepalive":60,"reconnectPeriod":1000,"protocolId":"MQIsdp","protocolVersion":3,"clean":"true","encoding":"utf8","x":822.5,"y":260,"wires":[["5512a0b5.4fe3"]],"caname":"MQTT","category":"IoT"},{"id":"5512a0b5.4fe3","type":"EventListener-End","z":"main.flow","name":"Success","statusCode":"200","headers":{"Content-Type":"application/json"},"payload":"","x":1082.5,"y":160,"wires":[],"caname":"eventlistenerend","category":"aws"},{"id":"4d23926c.f5431c","type":"EventListener-End","z":"main.flow","name":"Invalid","statusCode":"200","headers":{"Content-Type":"application/json"},"payload":"invalid","x":1082.5,"y":440,"wires":[],"caname":"eventlistenerend","category":"aws"},{"id":"89944993.e75408","type":"Logger","z":"main.flow","name":"Logger","level":"INFO","message":"msg.header.event.Records[0].body","x":222.5,"y":240,"wires":[["4f3b1301.367e8c"]],"caname":"logger","category":"logging"},{"id":"4f3b1301.367e8c","type":"JSON","z":"main.flow","name":"JSON","property":"msg.header.event.Records[0].body","action":"obj","pretty":false,"x":302.5,"y":240,"wires":[["3844e821.469d18"]],"caname":"JSON","category":"transformation"},{"id":"11e39215.b45eee","type":"EventListener","z":"main.flow","name":"ListenToPassengerSQS","eventSource":"sqs","dynamodbOperation":"","apiMethod":"any","apiUrl":"","albMethod":"any","albUrl":"","bucketName":"","event":"s3:ObjectCreated:*","x":102.5,"y":240,"wires":[["89944993.e75408"]],"caname":"aws-event-handler","category":"aws"},{"id":"f01f5e8.64c21a","type":"Set-Property","z":"main.flow","name":"Set-Property","rules":[{"t":"set","p":"temp","pt":"cavars","to":"$string(msg.payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":322.5,"y":40,"wires":[["bdaa56f3.a70908"]],"caname":"setproperty","category":"transformation"},{"id":"c58bc792.423db8","type":"Logger","z":"main.flow","name":"Logger","level":"INFO","message":"invalid seater","x":822.5,"y":360,"wires":[["f62345a.8d6efb8"]],"caname":"logger","category":"logging"},{"id":"f62345a.8d6efb8","type":"EventListener-End","z":"main.flow","name":"Invalid","statusCode":"200","headers":{"Content-Type":"application/json"},"payload":"invalid","x":1082.5,"y":360,"wires":[],"caname":"eventlistenerend","category":"aws"},{"id":"383f0024.1838b","type":"catch","z":"main.flow","name":"catchAll","scope":null,"uncaught":false,"x":102.5,"y":540,"wires":[["fe0248d1.885e68"]],"caname":"catch","category":"exception"},{"id":"fe0248d1.885e68","type":"Logger","z":"main.flow","name":"Print Exception","level":"INFO","message":"msg.exception.message","x":242.5,"y":540,"wires":[["d157fd6e.c1124"]],"caname":"logger","category":"logging"},{"id":"d157fd6e.c1124","type":"EventListener-End","z":"main.flow","name":"Failed","statusCode":"400","headers":{"Content-Type":"application/json"},"payload":"","x":362.5,"y":540,"wires":[],"caname":"eventlistenerend","category":"aws"}]