TwilioNodeDemo/TwilioDemo-flow.json
[{"id":"main.flow","type":"tab","label":"main","disabled":false,"info":""},{"id":"test.flow","type":"tab","label":"test","disabled":false,"info":""},{"id":"eacbb9ef.69d5c8","type":"EventListener","z":"main.flow","name":"POST /ticket","eventSource":"api","dynamodbOperation":"","apiMethod":"post","apiUrl":"/ticket","albMethod":"any","albUrl":"","bucketName":"","event":"s3:ObjectCreated:*","x":62.5,"y":160,"wires":[["e92fcd31.316a2"]],"caname":"aws-event-handler","category":"aws"},{"id":"b5fc6ccd.17dd7","type":"EventListener-End","z":"main.flow","name":"Success","statusCode":"200","headers":{"Content-Type":"application/json"},"payload":"Notified the support engineer","x":1062.5,"y":160,"wires":[],"caname":"eventlistenerend","category":"aws"},{"id":"3aa032bd.826cae","type":"TestCase","z":"test.flow","name":"Test POST /ticket","selectedTargetNode":"eacbb9ef.69d5c8","payload":"{\n  \"path\": \"/ticket\",\n  \"headers\": {\n    \"Accept\": \"text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,*/*;q=0.8\",\n    \"Accept-Encoding\": \"gzip, deflate, lzma, sdch, br\",\n    \"Accept-Language\": \"en-US,en;q=0.8\",\n    \"CloudFront-Forwarded-Proto\": \"https\",\n    \"CloudFront-Is-Desktop-Viewer\": \"true\",\n    \"CloudFront-Is-Mobile-Viewer\": \"false\",\n    \"CloudFront-Is-SmartTV-Viewer\": \"false\",\n    \"CloudFront-Is-Tablet-Viewer\": \"false\",\n    \"CloudFront-Viewer-Country\": \"US\",\n    \"Host\": \"wt6mne2s9k.execute-api.us-west-2.amazonaws.com\",\n    \"Upgrade-Insecure-Requests\": \"1\",\n    \"User-Agent\": \"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/52.0.2743.82 Safari/537.36 OPR/39.0.2256.48\",\n    \"Via\": \"1.1 fb7cca60f0ecd82ce07790c9c5eef16c.cloudfront.net (CloudFront)\",\n    \"X-Amz-Cf-Id\": \"nBsWBOrSHMgnaROZJK1wGCZ9PcRcSpq_oSXZNQwQ10OTZL4cimZo3g==\",\n    \"X-Forwarded-For\": \"192.168.100.1, 192.168.1.1\",\n    \"X-Forwarded-Port\": \"443\",\n    \"X-Forwarded-Proto\": \"https\"\n  },\n  \"pathParameters\": {\n    \"proxy\": \"hello\"\n  },\n  \"requestContext\": {\n    \"accountId\": \"123456789012\",\n    \"resourceId\": \"us4z18\",\n    \"stage\": \"test\",\n    \"requestId\": \"41b45ea3-70b5-11e6-b7bd-69b5aaebc7d9\",\n    \"identity\": {\n      \"cognitoIdentityPoolId\": \"\",\n      \"accountId\": \"\",\n      \"cognitoIdentityId\": \"\",\n      \"caller\": \"\",\n      \"apiKey\": \"\",\n      \"sourceIp\": \"192.168.100.1\",\n      \"cognitoAuthenticationType\": \"\",\n      \"cognitoAuthenticationProvider\": \"\",\n      \"userArn\": \"\",\n      \"userAgent\": \"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/52.0.2743.82 Safari/537.36 OPR/39.0.2256.48\",\n      \"user\": \"\"\n    },\n    \"resourcePath\": \"/{proxy+}\",\n    \"httpMethod\": \"POST\",\n    \"apiId\": \"wt6mne2s9k\"\n  },\n  \"resource\": \"/{proxy+}\",\n  \"httpMethod\": \"POST\",\n  \"queryStringParameters\": {\n    \"name\": \"me\"\n  },\n  \"stageVariables\": {\n    \"stageVarName\": \"stageVarValue\"\n  },\n  \"body\" : {\n    \"token\": \"\",\n    \"team_id\": \"3334\",\n    \"team_domain\": \"kumologica213\",\n    \"channel_id\": \"DHHYYTQB\",\n    \"channel_name\": \"directmessage\",\n    \"user_id\": \"test\",\n    \"user_name\": \"test\",\n    \"command\": \"/ticket\",\n    \"text\": \"KL00345\",\n    \"response_url\": \"https://hooks.slack.com/\"\n}\n}","initialLoad":"false","x":122.5,"y":160,"wires":[["e0721cc7.653eb"]],"caname":"test-case","category":"testing"},{"id":"e0721cc7.653eb","type":"TestCaseEnd","z":"test.flow","name":"TestCaseEnd","x":425,"y":160,"wires":[],"caname":"test-case-end","category":"testing"},{"id":"e92fcd31.316a2","type":"Logger","z":"main.flow","name":"Logger","level":"INFO","message":"msg.payload","x":182.5,"y":160,"wires":[["e6612558.105358"]],"caname":"logger","category":"logging"},{"id":"e6612558.105358","type":"Set-Property","z":"main.flow","name":"SlackData","rules":[{"t":"set","p":"slacktext","pt":"cavars","to":"payload.text","tot":"camsg"}],"action":"","property":"","from":"","to":"","reg":false,"x":302.5,"y":160,"wires":[["973972d2.1bcac"]],"caname":"setproperty","category":"transformation"},{"id":"973972d2.1bcac","type":"Dynamo DB","z":"main.flow","name":"GetTicketDetails","operation":"GetItem","tableArn":"","columns":[{"columnType":"S","columnName":"ticket","columnValue":"vars.slacktext"}],"x":442.5,"y":160,"wires":[["8aa1f1e3.0589d"]],"caname":"dynamo","category":"aws"},{"id":"f5593977.2188b8","type":"Set-Property","z":"main.flow","name":"SetContactNoAndSeverity","rules":[{"t":"set","p":"contact","pt":"cavars","to":"payload.Item.emp_contactno.S","tot":"camsg"},{"t":"set","p":"severity","pt":"cavars","to":"payload.Item.severity.S","tot":"camsg"},{"t":"set","p":"empname","pt":"cavars","to":"payload.Item.empname.S","tot":"camsg"},{"t":"set","p":"ticket","pt":"cavars","to":"payload.Item.ticket.S","tot":"camsg"}],"action":"","property":"","from":"","to":"","reg":false,"x":662.5,"y":160,"wires":[["19f1e319.7feddd"]],"caname":"setproperty","category":"transformation"},{"id":"e0d58906.df7528","type":"Switch","z":"main.flow","name":"Check_Severity","property":"severity","propertyType":"cavars","rules":[{"t":"eq","v":"P1","vt":"str"},{"t":"eq","v":"P2","vt":"str"},{"t":"eq","v":"P3","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":4,"x":382.5,"y":420,"wires":[["d492ae0.ea2f65"],["ab76d19a.ee67a"],["327f3d29.4eab72"],["2c9e336c.02886c"]],"caname":"switch","category":"routing"},{"id":"d492ae0.ea2f65","type":"Logger","z":"main.flow","name":"P1 Logger","level":"INFO","message":" P1 request","x":502.5,"y":260,"wires":[["eb2804e6.54e148"]],"caname":"logger","category":"logging"},{"id":"ab76d19a.ee67a","type":"Logger","z":"main.flow","name":"P2 Logger","level":"INFO","message":"P2 request","x":502.5,"y":340,"wires":[["b3216192.40844"]],"caname":"logger","category":"logging"},{"id":"327f3d29.4eab72","type":"Logger","z":"main.flow","name":"P3 Logger","level":"INFO","message":"P3 request","x":502.5,"y":420,"wires":[["b3216192.40844"]],"caname":"logger","category":"logging"},{"id":"2c9e336c.02886c","type":"Logger","z":"main.flow","name":"Invalid","level":"INFO","message":"Invalid","x":502.5,"y":540,"wires":[["1ca3e300.5346dd"]],"caname":"logger","category":"logging"},{"id":"8aa1f1e3.0589d","type":"Logger","z":"main.flow","name":"Logger","level":"INFO","message":"'data from db' & msg.payload","x":542.5,"y":160,"wires":[["f5593977.2188b8"]],"caname":"logger","category":"logging"},{"id":"b3216192.40844","type":"Template","z":"main.flow","name":"SMSMessage","field":"payload","fieldType":"camsg","format":"handlebars","syntax":"mustache","template":"Hello {{payload.Item.empname.S}},\n\nTicket number {{payload.Item.ticket.S}} is assigned to you.\n\n","output":"str","x":622.5,"y":340,"wires":[["cc5f5d.ec71a0a"]],"caname":"template","category":"transformation"},{"id":"cc5f5d.ec71a0a","type":"Logger","z":"main.flow","name":"Logger","level":"INFO","message":"msg.payload","x":722.5,"y":340,"wires":[["84bae645.acacd8"]],"caname":"logger","category":"logging"},{"id":"88c3b807.642fa8","type":"SQS","z":"main.flow","operation":"SendMessage","QueueUrl":"","ReceiptHandle":"","MessageBody":"msg.payload","name":"SQS","x":862.5,"y":160,"wires":[["abf79de3.182f3"]],"caname":"SQS","category":"aws"},{"id":"2724c9a6.a1d986","type":"EventListener","z":"main.flow","name":"SQS Listener","eventSource":"sqs","dynamodbOperation":"","apiMethod":"any","apiUrl":"","albMethod":"any","albUrl":"","bucketName":"","event":"s3:ObjectCreated:*","x":62.5,"y":420,"wires":[["3bd58662.84792a"]],"caname":"aws-event-handler","category":"aws"},{"id":"62506efa.53fd1","type":"EventListener-End","z":"main.flow","name":"Success","statusCode":"200","headers":{"Content-Type":"application/json"},"payload":"done","x":922.5,"y":340,"wires":[],"caname":"eventlistenerend","category":"aws"},{"id":"3bd58662.84792a","type":"Logger","z":"main.flow","name":"Logger","level":"INFO","message":"msg.header.event.Records[0].body","x":162.5,"y":420,"wires":[["d264f955.a189f8"]],"caname":"logger","category":"logging"},{"id":"84bae645.acacd8","type":"Twilio","z":"main.flow","name":"SMS","message":"msg.payload","accountsid":"","apikey":"","to":"vars.contact","tos":"","from":"","notificationSID":"","operation":"SMS","x":802.5,"y":340,"wires":[["62506efa.53fd1"]],"caname":"twilio","category":"platforms"},{"id":"eb2804e6.54e148","type":"Twilio","z":"main.flow","name":"Voice Call","message":"A P1 incident is reported. Please check your email immediately for details.","accountsid":"","apikey":"","to":"vars.contact","tos":"","from":"","notificationSID":"","operation":"Voice","x":802.5,"y":260,"wires":[["62506efa.53fd1"]],"caname":"twilio","category":"platforms"},{"id":"b58b2704.2c3868","type":"EventListener-End","z":"main.flow","name":"Invalid","statusCode":"400","headers":{"Content-Type":"application/json"},"payload":"Invalid","x":922.5,"y":540,"wires":[],"caname":"eventlistenerend","category":"aws"},{"id":"1ca3e300.5346dd","type":"Logger","z":"main.flow","name":"Logger","level":"INFO","message":"Invalid Severity","x":702.5,"y":540,"wires":[["b58b2704.2c3868"]],"caname":"logger","category":"logging"},{"id":"abf79de3.182f3","type":"Logger","z":"main.flow","name":"Logger","level":"INFO","message":"msg.payload","x":962.5,"y":160,"wires":[["b5fc6ccd.17dd7"]],"caname":"logger","category":"logging"},{"id":"19f1e319.7feddd","type":"JSON","z":"main.flow","name":"JSON","property":"msg.payload","action":"str","pretty":true,"x":762.5,"y":160,"wires":[["88c3b807.642fa8"]],"caname":"JSON","category":"transformation"},{"id":"d264f955.a189f8","type":"JSON","z":"main.flow","name":"JSONStringToObject","property":"msg.header.event.Records[0].body","action":"obj","pretty":false,"x":262.5,"y":420,"wires":[["e0d58906.df7528"]],"caname":"JSON","category":"transformation"}]