PostgresSample/PostgresWithDataTransformation-flow.json
[{"id":"main.flow","type":"tab","label":"main","disabled":false,"info":""},{"id":"test.flow","type":"tab","label":"test","disabled":false,"info":""},{"id":"eacbb9ef.69d5c8","type":"EventListener","z":"main.flow","name":"GET /employee","eventSource":"api","dynamodbOperation":"","apiMethod":"get","apiUrl":"/employee","albMethod":"any","albUrl":"","bucketName":"","event":"s3:ObjectCreated:*","x":120,"y":160,"wires":[["5eb3cd61.894f04"]],"caname":"aws-event-handler","category":"aws"},{"id":"5eb3cd61.894f04","type":"Logger","z":"main.flow","name":"Log","level":"INFO","message":"Request received","x":242.5,"y":160,"wires":[["ac8aba1a.fd0388"]],"caname":"logger","category":"logging"},{"id":"b5fc6ccd.17dd7","type":"EventListener-End","z":"main.flow","name":"Success","statusCode":"200","headers":{"Content-Type":"application/json"},"payload":"msg.payload","x":582.5,"y":160,"wires":[],"caname":"eventlistenerend","category":"aws"},{"id":"3aa032bd.826cae","type":"TestCase","z":"test.flow","name":"Test Get /employee","selectedTargetNode":"eacbb9ef.69d5c8","payload":"{\n  \"path\": \"/employee\",\n  \"headers\": {\n    \"Accept\": \"text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,*/*;q=0.8\",\n    \"Accept-Encoding\": \"gzip, deflate, lzma, sdch, br\",\n    \"Accept-Language\": \"en-US,en;q=0.8\",\n    \"CloudFront-Forwarded-Proto\": \"https\",\n    \"CloudFront-Is-Desktop-Viewer\": \"true\",\n    \"CloudFront-Is-Mobile-Viewer\": \"false\",\n    \"CloudFront-Is-SmartTV-Viewer\": \"false\",\n    \"CloudFront-Is-Tablet-Viewer\": \"false\",\n    \"CloudFront-Viewer-Country\": \"US\",\n    \"Host\": \"wt6mne2s9k.execute-api.us-west-2.amazonaws.com\",\n    \"Upgrade-Insecure-Requests\": \"1\",\n    \"User-Agent\": \"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/52.0.2743.82 Safari/537.36 OPR/39.0.2256.48\",\n    \"Via\": \"1.1 fb7cca60f0ecd82ce07790c9c5eef16c.cloudfront.net (CloudFront)\",\n    \"X-Amz-Cf-Id\": \"nBsWBOrSHMgnaROZJK1wGCZ9PcRcSpq_oSXZNQwQ10OTZL4cimZo3g==\",\n    \"X-Forwarded-For\": \"192.168.100.1, 192.168.1.1\",\n    \"X-Forwarded-Port\": \"443\",\n    \"X-Forwarded-Proto\": \"https\"\n  },\n  \"pathParameters\": {\n    \"proxy\": \"hello\"\n  },\n  \"requestContext\": {\n    \"accountId\": \"123456789012\",\n    \"resourceId\": \"us4z18\",\n    \"stage\": \"test\",\n    \"requestId\": \"41b45ea3-70b5-11e6-b7bd-69b5aaebc7d9\",\n    \"identity\": {\n      \"cognitoIdentityPoolId\": \"\",\n      \"accountId\": \"\",\n      \"cognitoIdentityId\": \"\",\n      \"caller\": \"\",\n      \"apiKey\": \"\",\n      \"sourceIp\": \"192.168.100.1\",\n      \"cognitoAuthenticationType\": \"\",\n      \"cognitoAuthenticationProvider\": \"\",\n      \"userArn\": \"\",\n      \"userAgent\": \"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/52.0.2743.82 Safari/537.36 OPR/39.0.2256.48\",\n      \"user\": \"\"\n    },\n    \"resourcePath\": \"/{proxy+}\",\n    \"httpMethod\": \"GET\",\n    \"apiId\": \"wt6mne2s9k\"\n  },\n  \"resource\": \"/{proxy+}\",\n  \"httpMethod\": \"GET\",\n  \"queryStringParameters\": {\n    \"name\": \"me\"\n  },\n  \"stageVariables\": {\n    \"stageVarName\": \"stageVarValue\"\n  }\n}","initialLoad":"false","x":122.5,"y":160,"wires":[["e0721cc7.653eb"]],"caname":"test-case","category":"testing"},{"id":"e0721cc7.653eb","type":"TestCaseEnd","z":"test.flow","name":"TestCaseEnd","x":425,"y":160,"wires":[],"caname":"test-case-end","category":"testing"},{"id":"ac8aba1a.fd0388","type":"Postgres","z":"main.flow","host":"yourhostname","hostType":"","port":5432,"database":"test","ssl":false,"max":10,"min":1,"idle":1000,"name":"Get_Employee","user":"test","password":"test","query":"SELECT * FROM \"public\".\"employee\" LIMIT 100","output":true,"outputs":1,"x":362.5,"y":160,"wires":[["814acbed.13f128"]],"caname":"postgres","category":"storage"},{"id":"814acbed.13f128","type":"Datamapper","z":"main.flow","name":"Datamapper","datamappertype":"$map(\n           rows,\n           (\n               function($l){\n                   {\n                       \"EmpName\" : $l.name,\n                       \"Emp_Age\" : $l.age\n       \n                   }\n\n    }\n           )\n\n    )","testdataeditortype":"{\n   \"rows\":[\n       {\n           \"id\":1,\n           \"name\":\"Tom\",\n           \"age\":\"25\",\n           \"street\":\"GreenPark\",\n           \"country\":\"Australia\"\n       },\n       {\n           \"id\":2,\n           \"name\":\"Patrick\",\n           \"age\":\"39\",\n           \"street\":\"WestRyde\",\n           \"country\":\"Australia\"\n       },\n       {\n           \"id\":3,\n           \"name\":\"William\",\n           \"age\":\"29\",\n           \"street\":\"SummerHill\",\n           \"country\":\"USA\"\n       },\n       {\n           \"id\":4,\n           \"name\":\"Rahul\",\n           \"age\":\"30\",\n           \"street\":\"DeshBhavan\",\n           \"country\":\"India\"\n       }\n   ]\n}","x":482.5,"y":160,"wires":[["b5fc6ccd.17dd7"]],"caname":"datamapper","category":"transformation"}]