RestifyingSOAP/ResitfySOAPFlow.json
[{"id":"main.flow","type":"tab","label":"main","disabled":false,"info":""},{"id":"test.flow","type":"tab","label":"test","disabled":false,"info":""},{"id":"eacbb9ef.69d5c8","type":"EventListener","z":"main.flow","name":"GET /add","eventSource":"api","dynamodbOperation":"","apiMethod":"get","apiUrl":"/calculator/add/:num1/:num2","albMethod":"any","albUrl":"","bucketName":"","event":"s3:ObjectCreated:*","x":120,"y":160,"wires":[["5eb3cd61.894f04"]],"caname":"aws-event-handler","category":"aws"},{"id":"5eb3cd61.894f04","type":"Logger","z":"main.flow","name":"Log","level":"INFO","message":"'Request received ' & msg.header.event.Records[0].pathParameters.num1 & msg.header.event.Records[0].pathParameters.num2","x":222.5,"y":160,"wires":[["14583774.ffe429"]],"caname":"logger","category":"logging"},{"id":"b5fc6ccd.17dd7","type":"EventListener-End","z":"main.flow","name":"Success","statusCode":"200","headers":{"Content-Type":"application/json"},"payload":"msg.payload","x":622.5,"y":160,"wires":[],"caname":"eventlistenerend","category":"aws"},{"id":"3aa032bd.826cae","type":"TestCase","z":"test.flow","name":"Test Get /add","selectedTargetNode":"eacbb9ef.69d5c8","payload":"{\n  \"path\": \"/calculator/add/:num1/:num2\",\n  \"headers\": {\n    \"Accept\": \"text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,*/*;q=0.8\",\n    \"Accept-Encoding\": \"gzip, deflate, lzma, sdch, br\",\n    \"Accept-Language\": \"en-US,en;q=0.8\",\n    \"CloudFront-Forwarded-Proto\": \"https\",\n    \"CloudFront-Is-Desktop-Viewer\": \"true\",\n    \"CloudFront-Is-Mobile-Viewer\": \"false\",\n    \"CloudFront-Is-SmartTV-Viewer\": \"false\",\n    \"CloudFront-Is-Tablet-Viewer\": \"false\",\n    \"CloudFront-Viewer-Country\": \"US\",\n    \"Host\": \"wt6mne2s9k.execute-api.us-west-2.amazonaws.com\",\n    \"Upgrade-Insecure-Requests\": \"1\",\n    \"User-Agent\": \"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/52.0.2743.82 Safari/537.36 OPR/39.0.2256.48\",\n    \"Via\": \"1.1 fb7cca60f0ecd82ce07790c9c5eef16c.cloudfront.net (CloudFront)\",\n    \"X-Amz-Cf-Id\": \"nBsWBOrSHMgnaROZJK1wGCZ9PcRcSpq_oSXZNQwQ10OTZL4cimZo3g==\",\n    \"X-Forwarded-For\": \"192.168.100.1, 192.168.1.1\",\n    \"X-Forwarded-Port\": \"443\",\n    \"X-Forwarded-Proto\": \"https\"\n  },\n  \"pathParameters\": {\n    \"num1\": 1,\n    \"num2\": 2\n  },\n  \"requestContext\": {\n    \"accountId\": \"123456789012\",\n    \"resourceId\": \"us4z18\",\n    \"stage\": \"test\",\n    \"requestId\": \"41b45ea3-70b5-11e6-b7bd-69b5aaebc7d9\",\n    \"identity\": {\n      \"cognitoIdentityPoolId\": \"\",\n      \"accountId\": \"\",\n      \"cognitoIdentityId\": \"\",\n      \"caller\": \"\",\n      \"apiKey\": \"\",\n      \"sourceIp\": \"192.168.100.1\",\n      \"cognitoAuthenticationType\": \"\",\n      \"cognitoAuthenticationProvider\": \"\",\n      \"userArn\": \"\",\n      \"userAgent\": \"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/52.0.2743.82 Safari/537.36 OPR/39.0.2256.48\",\n      \"user\": \"\"\n    },\n    \"resourcePath\": \"/{proxy+}\",\n    \"httpMethod\": \"GET\",\n    \"apiId\": \"wt6mne2s9k\"\n  },\n  \"resource\": \"/{proxy+}\",\n  \"httpMethod\": \"GET\",\n  \"queryStringParameters\": {\n    \"name\": \"me\"\n  },\n  \"stageVariables\": {\n    \"stageVarName\": \"stageVarValue\"\n  }\n}","initialLoad":"false","x":122.5,"y":160,"wires":[["b970b7d2.5454c8"]],"caname":"test-case","category":"testing"},{"id":"b970b7d2.5454c8","type":"Assertion","z":"test.flow","name":"check response","selector":"statusCode","property":"hello","comparison":"equals","value":"200","x":265,"y":160,"wires":[["e0721cc7.653eb"]],"caname":"test-assertion","category":"testing"},{"id":"e0721cc7.653eb","type":"TestCaseEnd","z":"test.flow","name":"TestCaseEnd","x":425,"y":160,"wires":[],"caname":"test-case-end","category":"testing"},{"id":"89dec6f9.3ce908","type":"EventListener","z":"main.flow","name":"GET /sub","eventSource":"api","dynamodbOperation":"","apiMethod":"get","apiUrl":"/calculator/sub/:num1/:num2","albMethod":"any","albUrl":"","bucketName":"","event":"s3:ObjectCreated:*","x":122.5,"y":260,"wires":[["7150811f.b81d2"]],"caname":"aws-event-handler","category":"aws"},{"id":"7150811f.b81d2","type":"Logger","z":"main.flow","name":"Log","level":"INFO","message":"Request received","x":222.5,"y":260,"wires":[["2afefb07.546ee4"]],"caname":"logger","category":"logging"},{"id":"3e86d18c.d34d8e","type":"EventListener-End","z":"main.flow","name":"Success","statusCode":"200","headers":{"Content-Type":"application/json"},"payload":"msg.payload","x":622.5,"y":260,"wires":[],"caname":"eventlistenerend","category":"aws"},{"id":"d78167b5.7630a8","type":"SOAP Req","z":"main.flow","name":"Add","topic":"","wsdl":"http://www.dneonline.com/calculator.asmx","operation":"0","user":"","pass":"","key":"","cert":"","token":"","method":"Add","timeout":10000,"x":482.5,"y":160,"wires":[["b5fc6ccd.17dd7"]],"caname":"soaprequest","category":"web"},{"id":"bfa33382.baf5f","type":"SOAP Req","z":"main.flow","name":"Subtract","topic":"","wsdl":"http://www.dneonline.com/calculator.asmx","operation":"0","user":"","pass":"","key":"","cert":"","token":"","method":"Subtract","timeout":10000,"x":482.5,"y":260,"wires":[["3e86d18c.d34d8e"]],"caname":"soaprequest","category":"web"},{"id":"14583774.ffe429","type":"Set-Property","z":"main.flow","name":"Set-Property","rules":[{"t":"set","p":"payload","pt":"camsg","to":"{\t   \"intA\" : msg.header.event.Records[0].pathParameters.num1,\t   \"intB\" : msg.header.event.Records[0].pathParameters.num2\t   \t} ","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":342.5,"y":160,"wires":[["d78167b5.7630a8"]],"caname":"setproperty","category":"transformation"},{"id":"2afefb07.546ee4","type":"Set-Property","z":"main.flow","name":"Set-Property","rules":[{"t":"set","p":"payload","pt":"camsg","to":"{\t   \"intA\" : msg.header.event.Records[0].pathParameters.num1,\t   \"intB\" : msg.header.event.Records[0].pathParameters.num2\t   \t} ","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":342.5,"y":260,"wires":[["bfa33382.baf5f"]],"caname":"setproperty","category":"transformation"},{"id":"603add42.b046f4","type":"TestCase","z":"test.flow","name":"Test Get /subtract","selectedTargetNode":"89dec6f9.3ce908","payload":"{\n  \"path\": \"/calculator/sub/:num1/:num2\",\n  \"headers\": {\n    \"Accept\": \"text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,*/*;q=0.8\",\n    \"Accept-Encoding\": \"gzip, deflate, lzma, sdch, br\",\n    \"Accept-Language\": \"en-US,en;q=0.8\",\n    \"CloudFront-Forwarded-Proto\": \"https\",\n    \"CloudFront-Is-Desktop-Viewer\": \"true\",\n    \"CloudFront-Is-Mobile-Viewer\": \"false\",\n    \"CloudFront-Is-SmartTV-Viewer\": \"false\",\n    \"CloudFront-Is-Tablet-Viewer\": \"false\",\n    \"CloudFront-Viewer-Country\": \"US\",\n    \"Host\": \"wt6mne2s9k.execute-api.us-west-2.amazonaws.com\",\n    \"Upgrade-Insecure-Requests\": \"1\",\n    \"User-Agent\": \"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/52.0.2743.82 Safari/537.36 OPR/39.0.2256.48\",\n    \"Via\": \"1.1 fb7cca60f0ecd82ce07790c9c5eef16c.cloudfront.net (CloudFront)\",\n    \"X-Amz-Cf-Id\": \"nBsWBOrSHMgnaROZJK1wGCZ9PcRcSpq_oSXZNQwQ10OTZL4cimZo3g==\",\n    \"X-Forwarded-For\": \"192.168.100.1, 192.168.1.1\",\n    \"X-Forwarded-Port\": \"443\",\n    \"X-Forwarded-Proto\": \"https\"\n  },\n  \"pathParameters\": {\n    \"num1\": 5,\n    \"num2\": 1\n  },\n  \"requestContext\": {\n    \"accountId\": \"123456789012\",\n    \"resourceId\": \"us4z18\",\n    \"stage\": \"test\",\n    \"requestId\": \"41b45ea3-70b5-11e6-b7bd-69b5aaebc7d9\",\n    \"identity\": {\n      \"cognitoIdentityPoolId\": \"\",\n      \"accountId\": \"\",\n      \"cognitoIdentityId\": \"\",\n      \"caller\": \"\",\n      \"apiKey\": \"\",\n      \"sourceIp\": \"192.168.100.1\",\n      \"cognitoAuthenticationType\": \"\",\n      \"cognitoAuthenticationProvider\": \"\",\n      \"userArn\": \"\",\n      \"userAgent\": \"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/52.0.2743.82 Safari/537.36 OPR/39.0.2256.48\",\n      \"user\": \"\"\n    },\n    \"resourcePath\": \"/{proxy+}\",\n    \"httpMethod\": \"GET\",\n    \"apiId\": \"wt6mne2s9k\"\n  },\n  \"resource\": \"/{proxy+}\",\n  \"httpMethod\": \"GET\",\n  \"queryStringParameters\": {\n    \"name\": \"me\"\n  },\n  \"stageVariables\": {\n    \"stageVarName\": \"stageVarValue\"\n  }\n}","initialLoad":"false","x":122.5,"y":260,"wires":[["c413918d.b4b59"]],"caname":"test-case","category":"testing"},{"id":"c413918d.b4b59","type":"Assertion","z":"test.flow","name":"check response","selector":"statusCode","property":"hello","comparison":"equals","value":"200","x":265,"y":260,"wires":[["aa46721d.34937"]],"caname":"test-assertion","category":"testing"},{"id":"aa46721d.34937","type":"TestCaseEnd","z":"test.flow","name":"TestCaseEnd","x":425,"y":260,"wires":[],"caname":"test-case-end","category":"testing"}]