Email-Campaign/Email-campaign-flow.json
[{"id":"main.flow","type":"tab","label":"main","disabled":false,"info":""},{"id":"test.flow","type":"tab","label":"test","disabled":false,"info":""},{"id":"d1976480.faf388","type":"EventListener","z":"main.flow","name":"S3 Trigger","eventSource":"s3","dynamodbOperation":"","apiMethod":"any","apiUrl":"","albMethod":"any","albUrl":"","bucketName":"","event":"s3:ObjectCreated:*","x":62.5,"y":120,"wires":[["e7416f65.77a41"]],"caname":"aws-event-handler","category":"aws"},{"id":"7fd83a4a.3208a4","type":"EventListener-End","z":"main.flow","name":"End","statusCode":"200","headers":{},"Payloader":"payload","PayloaderType":"camsg","x":902.5,"y":120,"wires":[],"caname":"eventlistenerend","category":"aws"},{"id":"e7416f65.77a41","type":"S3","z":"main.flow","operation":"GetObject","Bucket":"kumocsvdemo","Key":"test.csv","KeyType":"str","Content":"","ContentType":"str","BucketType":"str","UploadId":"","CopySource":"","CopySourceType":"","Id":"","Delete":"","DeleteType":"str","Expression":"","ExpressionType":"","name":"GetCSVFromS3","x":182.5,"y":120,"wires":[["25a13ffd.67d54"]],"caname":"S3","category":"aws"},{"id":"15653aea.be99b5","type":"CSV","z":"main.flow","name":"ParseCSV","sep":",","hdrin":true,"hdrout":"","multi":"one","ret":"\\n","temp":"emailId,role","skip":"0","x":402.5,"y":120,"wires":[["7420b8db.b218a8"]],"caname":"CSV","category":"transformation"},{"id":"25a13ffd.67d54","type":"Function","z":"main.flow","name":"ConvertToString","outputs":1,"noerr":0,"query":"msg.payload = (msg.payload.Body).toString();\nreturn msg;","x":302.5,"y":120,"wires":[["15653aea.be99b5"]],"caname":"function","category":"transformation"},{"id":"820b2896.b6d3c8","type":"Join","z":"main.flow","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":"false","timeout":"","count":"","reduceRight":false,"x":782.5,"y":120,"wires":[["7fd83a4a.3208a4"]],"caname":"split","category":"routing"},{"id":"f32d412.b3d5cc","type":"SES","z":"main.flow","operation":"SendEmail","BccAddresses":"","BccAddressesType":"str","CcAddresses":"","CcAddressesType":"str","ToAddresses":"payload.emailId","ToAddressesType":"camsg","Message":"Test data","MessageType":"str","Subject":"Test mail","SubjectType":"str","Source":"arunkumar.satyam@gmail.com","SourceType":"str","ReplyToAddresses":"","ReplyToAddressesType":"str","name":"SendEmail","x":642.5,"y":60,"wires":[["820b2896.b6d3c8"]],"caname":"SES","category":"aws"},{"id":"7420b8db.b218a8","type":"Switch","z":"main.flow","name":"CheckIfAdmin","property":"payload.role","propertyType":"","rules":[{"t":"eq","v":"admin","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":522.5,"y":120,"wires":[["f32d412.b3d5cc"],["17a80d50.365d23"]],"caname":"switch","category":"routing"},{"id":"17a80d50.365d23","type":"Logger","z":"main.flow","Level":"INFO","Message":"msg.payload.emailId is not Admin","name":"LogNotAdmin","x":642.5,"y":160,"wires":[["820b2896.b6d3c8"]],"caname":"logger","category":"logging"},{"id":"93e9a945.6c75c8","type":"EventListener","z":"main.flow","name":"","eventSource":"api","dynamodbOperation":"","apiMethod":"get","apiUrl":"/jwt","albMethod":"any","albUrl":"","bucketName":"","event":"s3:ObjectCreated:*","x":62.5,"y":280,"wires":[["1b7df27b.02c63e"]],"caname":"aws-event-handler","category":"aws"},{"id":"bce0d396.38efd","type":"Logger","z":"main.flow","Level":"INFO","Message":"success","name":"success","x":382.5,"y":280,"wires":[["4b39d63.1b0d128"]],"caname":"logger","category":"logging"},{"id":"4b39d63.1b0d128","type":"EventListener-End","z":"main.flow","name":"Response","statusCode":"200","headers":{},"Payloader":"payload","PayloaderType":"camsg","x":502.5,"y":280,"wires":[],"caname":"eventlistenerend","category":"aws"},{"id":"1a626aef.2f5415","type":"JWT","z":"main.flow","name":"","Token":"eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJkYXRhMSI6IkRhdGEgMSIsImRhdGEyIjoiRGF0YSAyIiwiZGF0YTMiOiJEYXRhIDMiLCJkYXRhNCI6IkRhdGEgNCIsImlhdCI6MTU4NjA2NzUxMSwiZXhwIjoxNTg2MTEwNzExLCJhdWQiOiJodHRwOi8vbXlzb2Z0Y29ycC5pbiIsImlzcyI6Ik15c29mdCBjb3JwIiwic3ViIjoic29tZUB1c2VyLmNvbSJ9.Ao3Su1LR-PV5_NhIia38qEllYVYqPyulqA5UCV-9rNNmOABx_xCBnIYazArDEsofG7HC67Kic4MYYQsef2M-FQ","TokenType":"str","Issuer":"Mysoft corp","IssuerType":"str","Subject":"some@user.com","SubjectType":"str","Audience":"http://mysoftcorp.in","AudienceType":"str","ExpiresIn":"12h","ExpiresInType":"str","Algorithm":"RS256","Key":"payload","KeyType":"camsg","x":302.5,"y":280,"wires":[["bce0d396.38efd"]],"caname":"JWT","category":"security"},{"id":"49d4a538.dc607c","type":"TestCase","z":"main.flow","name":"","selectedTargetNode":"1b7df27b.02c63e","payload":"{}","initialLoad":"false","x":120,"y":400,"wires":[["ca401fa3.8d4fb"]],"caname":"test-case","category":"testing"},{"id":"ca401fa3.8d4fb","type":"TestCaseEnd","z":"main.flow","name":"","x":260,"y":400,"wires":[],"caname":"test-case-end","category":"testing"},{"id":"1b7df27b.02c63e","type":"Template","z":"main.flow","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"-----BEGIN PUBLIC KEY-----\nMFswDQYJKoZIhvcNAQEBBQADSgAwRwJAcTJsoH3zXqUxT8M7OHYShQwFrrObqRg4\nkGm+eSrmwGi0N5op8t5INHpcpOxmXc+++yadiIwQvDeD4w4sLC9k1wIDAQAB\n-----END PUBLIC KEY-----","output":"str","x":142.5,"y":280,"wires":[["a9b354f8.07aea8"]],"caname":"template","category":"transformation"},{"id":"a9b354f8.07aea8","type":"Logger","z":"main.flow","Level":"INFO","Message":"msg.payload","name":"","x":222.5,"y":280,"wires":[["1a626aef.2f5415"]],"caname":"logger","category":"logging"}]