PublishingToSQS/SendtoSQSFlow.json
[{"id":"main.flow","type":"tab","label":"main","disabled":false,"info":""},{"id":"test.flow","type":"tab","label":"test","disabled":false,"info":""},{"id":"67c552e.9ffe0ac","type":"EventListener","z":"main.flow","name":"POST /send","eventSource":"api","dynamodbOperation":"","apiMethod":"post","apiUrl":"/send","albMethod":"any","albUrl":"","bucketName":"","event":"s3:ObjectCreated:*","x":100,"y":180,"wires":[["15b9bf62.dd0101"]],"caname":"aws-event-handler","category":"aws"},{"id":"15b9bf62.dd0101","type":"Logger","z":"main.flow","name":"Logger","level":"INFO","message":"'Request recieved' & msg.payload","x":222.5,"y":180,"wires":[["17cfcbfa.a0c464"]],"caname":"logger","category":"logging"},{"id":"17cfcbfa.a0c464","type":"Set-Property","z":"main.flow","name":"ConverToString","rules":[{"t":"set","p":"payload","pt":"camsg","to":"$string(msg.payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":342.5,"y":180,"wires":[["f08429bc.42f9c8"]],"caname":"setproperty","category":"transformation"},{"id":"f08429bc.42f9c8","type":"SQS","z":"main.flow","operation":"SendMessage","QueueUrl":"","ReceiptHandle":"","MessageBody":"msg.payload","name":"SendToSQS","x":442.5,"y":180,"wires":[["3695fbb9.f1dd84"]],"caname":"SQS","category":"aws"},{"id":"3695fbb9.f1dd84","type":"EventListener-End","z":"main.flow","name":"End","statusCode":"200","headers":{"Content-Type":"application/json"},"payload":"msg.payload","x":562.5,"y":180,"wires":[],"caname":"eventlistenerend","category":"aws"},{"id":"8365023e.b4abd","type":"TestCase","z":"test.flow","name":"Test POST /send","selectedTargetNode":"67c552e.9ffe0ac","payload":"{\n  \"path\": \"/send\",\n  \"headers\": {\n    \"Accept\": \"text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,*/*;q=0.8\",\n    \"Accept-Encoding\": \"gzip, deflate, lzma, sdch, br\",\n    \"Accept-Language\": \"en-US,en;q=0.8\",\n    \"CloudFront-Forwarded-Proto\": \"https\",\n    \"CloudFront-Is-Desktop-Viewer\": \"true\",\n    \"CloudFront-Is-Mobile-Viewer\": \"false\",\n    \"CloudFront-Is-SmartTV-Viewer\": \"false\",\n    \"CloudFront-Is-Tablet-Viewer\": \"false\",\n    \"CloudFront-Viewer-Country\": \"US\",\n    \"Host\": \"wt6mne2s9k.execute-api.us-west-2.amazonaws.com\",\n    \"Upgrade-Insecure-Requests\": \"1\",\n    \"User-Agent\": \"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/52.0.2743.82 Safari/537.36 OPR/39.0.2256.48\",\n    \"Via\": \"1.1 fb7cca60f0ecd82ce07790c9c5eef16c.cloudfront.net (CloudFront)\",\n    \"X-Amz-Cf-Id\": \"nBsWBOrSHMgnaROZJK1wGCZ9PcRcSpq_oSXZNQwQ10OTZL4cimZo3g==\",\n    \"X-Forwarded-For\": \"192.168.100.1, 192.168.1.1\",\n    \"X-Forwarded-Port\": \"443\",\n    \"X-Forwarded-Proto\": \"https\"\n  },\n  \"pathParameters\": {\n    \"proxy\": \"hello\"\n  },\n  \"requestContext\": {\n    \"accountId\": \"123456789012\",\n    \"resourceId\": \"us4z18\",\n    \"stage\": \"test\",\n    \"requestId\": \"41b45ea3-70b5-11e6-b7bd-69b5aaebc7d9\",\n    \"identity\": {\n      \"cognitoIdentityPoolId\": \"\",\n      \"accountId\": \"\",\n      \"cognitoIdentityId\": \"\",\n      \"caller\": \"\",\n      \"apiKey\": \"\",\n      \"sourceIp\": \"192.168.100.1\",\n      \"cognitoAuthenticationType\": \"\",\n      \"cognitoAuthenticationProvider\": \"\",\n      \"userArn\": \"\",\n      \"userAgent\": \"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/52.0.2743.82 Safari/537.36 OPR/39.0.2256.48\",\n      \"user\": \"\"\n    },\n    \"resourcePath\": \"/{proxy+}\",\n    \"httpMethod\": \"POST\",\n    \"apiId\": \"wt6mne2s9k\"\n  },\n  \"resource\": \"/{proxy+}\",\n  \"httpMethod\": \"POST\",\n  \"queryStringParameters\": {\n    \"name\": \"me\"\n  },\n  \"stageVariables\": {\n    \"stageVarName\": \"stageVarValue\"\n  },\n  \"body\":{\n    \"testdata\" : \"SampleMessage\"\n  }\n}","initialLoad":"false","x":120,"y":180,"wires":[["233d3808.6ad408"]],"caname":"test-case","category":"testing"},{"id":"233d3808.6ad408","type":"TestCaseEnd","z":"test.flow","name":"TestCaseEnd","x":302.5,"y":180,"wires":[],"caname":"test-case-end","category":"testing"}]