rpa-with-puppeteer/puppeterr-lab-flow.json
[{"id":"main.flow","type":"tab","label":"main","disabled":false,"info":""},{"id":"test.flow","type":"tab","label":"test","disabled":false,"info":""},{"id":"eacbb9ef.69d5c8","type":"EventListener","z":"main.flow","name":"","eventSource":"api","dynamodbOperation":"","apiMethod":"get","apiUrl":"/screenshot","albMethod":"any","albUrl":"","bucketName":"","event":"s3:ObjectCreated:*","x":62.5,"y":160,"wires":[["8fabe5e.3a48818"]],"caname":"aws-event-handler","category":"aws"},{"id":"b5fc6ccd.17dd7","type":"EventListener-End","z":"main.flow","name":"Success","statusCode":"200","headers":{},"Payloader":"{'hello': 'world'}","PayloaderType":"str","x":702.5,"y":160,"wires":[],"caname":"eventlistenerend","category":"aws"},{"id":"56f48925.340be8","type":"TestCase","z":"main.flow","name":"","selectedTargetNode":"c2ee37a3.ac9ea8","payload":"{}","initialLoad":"false","x":140,"y":260,"wires":[["6d9a24b1.0a6d6c"]],"caname":"test-case","category":"testing"},{"id":"6d9a24b1.0a6d6c","type":"TestCaseEnd","z":"main.flow","name":"","x":260,"y":260,"wires":[],"caname":"test-case-end","category":"testing"},{"id":"7568decd.0faaf","type":"S3","z":"main.flow","operation":"PutObject","Bucket":"kumocsvdemo","Key":"myimage.png","KeyType":"str","Content":"puppeteer.content","ContentType":"camsg","BucketType":"str","UploadId":"","CopySource":"","CopySourceType":"","Id":"","Delete":"","DeleteType":"str","Expression":"","ExpressionType":"","name":"Put in S3 Bucket","x":562.5,"y":160,"wires":[["b5fc6ccd.17dd7"]],"caname":"S3","category":"aws"},{"id":"8fabe5e.3a48818","type":"puppeteer","z":"main.flow","name":"Launch","operation":"Launch","pageOperation":"","url":"","urlType":"str","urlTimeout":15000,"urlTimeoutType":"str","click":"","clickType":"str","in":"","inType":"str","inVal":"","inValType":"str","x":162.5,"y":160,"wires":[["5fd99fa5.94acf"]],"caname":"puppeteer","category":"RPA"},{"id":"5fd99fa5.94acf","type":"puppeteer","z":"main.flow","name":"Goto URL","operation":"Page","pageOperation":"Url","url":"https://www.google.com","urlType":"str","urlTimeout":15000,"urlTimeoutType":"str","click":"","clickType":"str","in":"","inType":"str","inVal":"","inValType":"str","selector":"","selectorType":"str","x":282.5,"y":160,"wires":[["cc46b51e.a7d868"]],"caname":"puppeteer","category":"RPA"},{"id":"cc46b51e.a7d868","type":"puppeteer","z":"main.flow","name":"Take Screenshot","operation":"Screenshot","pageOperation":"","url":"","urlType":"str","urlTimeout":15000,"urlTimeoutType":"str","click":"","clickType":"str","in":"","inType":"str","inVal":"","inValType":"str","x":422.5,"y":160,"wires":[["7568decd.0faaf"]],"caname":"puppeteer","category":"RPA"}]