LoanBorkerApplication/LoanBorkerApplication-flow.json
[{"id":"main.flow","type":"tab","label":"main","disabled":false,"info":""},{"id":"test.flow","type":"tab","label":"test","disabled":false,"info":""},{"id":"eacbb9ef.69d5c8","type":"EventListener","z":"main.flow","name":"GET /quote","eventSource":"api","dynamodbOperation":"","apiMethod":"get","apiUrl":"/quote","albMethod":"any","albUrl":"","bucketName":"","event":"s3:ObjectCreated:*","x":62.5,"y":160,"wires":[["a9a7b9ff.7e4928"]],"caname":"aws-event-handler","category":"aws"},{"id":"b5fc6ccd.17dd7","type":"EventListener-End","z":"main.flow","name":"Success","statusCode":"200","headers":{"Content-Type":"application/json"},"payload":"msg.payload","x":722.5,"y":160,"wires":[],"caname":"eventlistenerend","category":"aws"},{"id":"3aa032bd.826cae","type":"TestCase","z":"test.flow","name":"Test Get /quote","selectedTargetNode":"eacbb9ef.69d5c8","payload":"{\n  \"path\": \"/quote\",\n  \"headers\": {\n    \"Accept\": \"text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,*/*;q=0.8\",\n    \"Accept-Encoding\": \"gzip, deflate, lzma, sdch, br\",\n    \"Accept-Language\": \"en-US,en;q=0.8\",\n    \"CloudFront-Forwarded-Proto\": \"https\",\n    \"CloudFront-Is-Desktop-Viewer\": \"true\",\n    \"CloudFront-Is-Mobile-Viewer\": \"false\",\n    \"CloudFront-Is-SmartTV-Viewer\": \"false\",\n    \"CloudFront-Is-Tablet-Viewer\": \"false\",\n    \"CloudFront-Viewer-Country\": \"US\",\n    \"Host\": \"wt6mne2s9k.execute-api.us-west-2.amazonaws.com\",\n    \"Upgrade-Insecure-Requests\": \"1\",\n    \"User-Agent\": \"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/52.0.2743.82 Safari/537.36 OPR/39.0.2256.48\",\n    \"Via\": \"1.1 fb7cca60f0ecd82ce07790c9c5eef16c.cloudfront.net (CloudFront)\",\n    \"X-Amz-Cf-Id\": \"nBsWBOrSHMgnaROZJK1wGCZ9PcRcSpq_oSXZNQwQ10OTZL4cimZo3g==\",\n    \"X-Forwarded-For\": \"192.168.100.1, 192.168.1.1\",\n    \"X-Forwarded-Port\": \"443\",\n    \"X-Forwarded-Proto\": \"https\"\n  },\n  \"pathParameters\": {\n    \"proxy\": \"hello\"\n  },\n  \"requestContext\": {\n    \"accountId\": \"123456789012\",\n    \"resourceId\": \"us4z18\",\n    \"stage\": \"test\",\n    \"requestId\": \"41b45ea3-70b5-11e6-b7bd-69b5aaebc7d9\",\n    \"identity\": {\n      \"cognitoIdentityPoolId\": \"\",\n      \"accountId\": \"\",\n      \"cognitoIdentityId\": \"\",\n      \"caller\": \"\",\n      \"apiKey\": \"\",\n      \"sourceIp\": \"192.168.100.1\",\n      \"cognitoAuthenticationType\": \"\",\n      \"cognitoAuthenticationProvider\": \"\",\n      \"userArn\": \"\",\n      \"userAgent\": \"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/52.0.2743.82 Safari/537.36 OPR/39.0.2256.48\",\n      \"user\": \"\"\n    },\n    \"resourcePath\": \"/{proxy+}\",\n    \"httpMethod\": \"GET\",\n    \"apiId\": \"wt6mne2s9k\"\n  },\n  \"resource\": \"/{proxy+}\",\n  \"httpMethod\": \"GET\",\n  \"queryStringParameters\": {\n    \"name\": \"me\"\n  },\n  \"stageVariables\": {\n    \"stageVarName\": \"stageVarValue\"\n  }\n}","initialLoad":"false","x":122.5,"y":160,"wires":[["e0721cc7.653eb"]],"caname":"test-case","category":"testing"},{"id":"e0721cc7.653eb","type":"TestCaseEnd","z":"test.flow","name":"TestCaseEnd","x":425,"y":160,"wires":[],"caname":"test-case-end","category":"testing"},{"id":"a9a7b9ff.7e4928","type":"HTTP Req","z":"main.flow","name":"GetCreditCheck","Method":"GET","Ret":"obj","Paytoqs":false,"Url":"http://demo6793677.mockable.io/credit/check","AuthType":"none","User":"","Password":"","Token":"","ResponseTimeout":"120000","x":162.5,"y":160,"wires":[["992e064b.fb8058"]],"caname":"httprequest","category":"web"},{"id":"22e16a02.45ef36","type":"Switch","z":"main.flow","name":"CreditStatus_Check","property":"payload.check_status","propertyType":"camsg","rules":[{"t":"eq","v":"pass","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":442.5,"y":160,"wires":[["bf5707dc.a77cf8"],["2053c8ca.49a0a8"]],"caname":"switch","category":"routing"},{"id":"bf5707dc.a77cf8","type":"HTTP Req","z":"main.flow","name":"GetBankQuote","Method":"POST","Ret":"txt","Paytoqs":false,"Url":"http://demo6793677.mockable.io/bank/quotes","AuthType":"none","User":"","Password":"","Token":"","ResponseTimeout":"120000","x":582.5,"y":100,"wires":[["b5fc6ccd.17dd7"]],"caname":"httprequest","category":"web"},{"id":"2053c8ca.49a0a8","type":"Set-Property","z":"main.flow","name":"Set-Property","rules":[{"t":"set","p":"payload","pt":"camsg","to":"{\"message\" : \"Cannot process the quote\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":602.5,"y":240,"wires":[["b5fc6ccd.17dd7"]],"caname":"setproperty","category":"transformation"},{"id":"aaa8e154.4bfdd","type":"Set-Property","z":"main.flow","name":"Set-Property","rules":[{"t":"set","p":"status","pt":"cavars","to":"payload.check_status","tot":"camsg"}],"action":"","property":"","from":"","to":"","reg":false,"x":322.5,"y":160,"wires":[["22e16a02.45ef36"]],"caname":"setproperty","category":"transformation"},{"id":"992e064b.fb8058","type":"JSON","z":"main.flow","name":"JSON","property":"msg.payload","action":"obj","pretty":false,"x":242.5,"y":160,"wires":[["aaa8e154.4bfdd"]],"caname":"JSON","category":"transformation"}]