SampleSMSUsingTwilio/SampleSMSUsingTwilio-flow.json
[{"id":"main.flow","type":"tab","label":"main","disabled":false,"info":""},{"id":"test.flow","type":"tab","label":"test","disabled":false,"info":""},{"id":"36de992c.af8fa6","type":"EventListener","z":"main.flow","name":"POST /order/sms","eventSource":"api","dynamodbOperation":"","apiMethod":"post","apiUrl":"/order/sms","albMethod":"any","albUrl":"","bucketName":"","event":"s3:ObjectCreated:*","x":120,"y":280,"wires":[["ae8d64bd.964b08"]],"caname":"aws-event-handler","category":"aws"},{"id":"c6f1e98e.851ba8","type":"EventListener-End","z":"main.flow","name":"EventListener-End","statusCode":"200","headers":{"Content-Type":"application/json"},"payload":"msg.payload","x":522.5,"y":280,"wires":[],"caname":"eventlistenerend","category":"aws"},{"id":"ae8d64bd.964b08","type":"Logger","z":"main.flow","name":"Log","level":"INFO","message":"Request received","x":262.5,"y":280,"wires":[["58ec301f.5dc2f"]],"caname":"logger","category":"logging"},{"id":"7cf722c.b1150dc","type":"TestCase","z":"test.flow","name":"Test Post","selectedTargetNode":"36de992c.af8fa6","payload":"{\n  \"path\": \"/order/sms\",\n  \"headers\": {\n    \"Accept\": \"text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,*/*;q=0.8\",\n    \"Accept-Encoding\": \"gzip, deflate, lzma, sdch, br\",\n    \"Accept-Language\": \"en-US,en;q=0.8\",\n    \"CloudFront-Forwarded-Proto\": \"https\",\n    \"CloudFront-Is-Desktop-Viewer\": \"true\",\n    \"CloudFront-Is-Mobile-Viewer\": \"false\",\n    \"CloudFront-Is-SmartTV-Viewer\": \"false\",\n    \"CloudFront-Is-Tablet-Viewer\": \"false\",\n    \"CloudFront-Viewer-Country\": \"US\",\n    \"Host\": \"wt6mne2s9k.execute-api.us-west-2.amazonaws.com\",\n    \"Upgrade-Insecure-Requests\": \"1\",\n    \"User-Agent\": \"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/52.0.2743.82 Safari/537.36 OPR/39.0.2256.48\",\n    \"Via\": \"1.1 fb7cca60f0ecd82ce07790c9c5eef16c.cloudfront.net (CloudFront)\",\n    \"X-Amz-Cf-Id\": \"nBsWBOrSHMgnaROZJK1wGCZ9PcRcSpq_oSXZNQwQ10OTZL4cimZo3g==\",\n    \"X-Forwarded-For\": \"192.168.100.1, 192.168.1.1\",\n    \"X-Forwarded-Port\": \"443\",\n    \"X-Forwarded-Proto\": \"https\"\n  },\n  \"pathParameters\": {\n    \"proxy\": \"hello\"\n  },\n  \"requestContext\": {\n    \"accountId\": \"123456789012\",\n    \"resourceId\": \"us4z18\",\n    \"stage\": \"test\",\n    \"requestId\": \"41b45ea3-70b5-11e6-b7bd-69b5aaebc7d9\",\n    \"identity\": {\n      \"cognitoIdentityPoolId\": \"\",\n      \"accountId\": \"\",\n      \"cognitoIdentityId\": \"\",\n      \"caller\": \"\",\n      \"apiKey\": \"\",\n      \"sourceIp\": \"192.168.100.1\",\n      \"cognitoAuthenticationType\": \"\",\n      \"cognitoAuthenticationProvider\": \"\",\n      \"userArn\": \"\",\n      \"userAgent\": \"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/52.0.2743.82 Safari/537.36 OPR/39.0.2256.48\",\n      \"user\": \"\"\n    },\n    \"resourcePath\": \"/{proxy+}\",\n    \"httpMethod\": \"GET\",\n    \"apiId\": \"wt6mne2s9k\"\n  },\n  \"resource\": \"/{proxy+}\",\n  \"httpMethod\": \"GET\",\n  \"queryStringParameters\": {\n    \"name\": \"me\"\n  },\n  \"stageVariables\": {\n    \"stageVarName\": \"stageVarValue\"\n  },\n  \"body\" : {\n   \"smsdata\" : \"my test message\" \n  }\n}","initialLoad":"false","x":122.5,"y":260,"wires":[["576078f.2426088"]],"caname":"test-case","category":"testing"},{"id":"576078f.2426088","type":"TestCaseEnd","z":"test.flow","name":"TestCaseEnd","x":425,"y":260,"wires":[],"caname":"test-case-end","category":"testing"},{"id":"58ec301f.5dc2f","type":"Twilio","z":"main.flow","name":"Twilio","message":"msg.payload.smsdata","accountsid":"","apikey":"","to":"","tos":"","from":"","notificationSID":"","operation":"SMS","x":382.5,"y":280,"wires":[["c6f1e98e.851ba8"]],"caname":"twilio","category":"platforms"}]