QRCodeDemoFlow/QRCodeDemo-flow.json
[{"id":"main.flow","type":"tab","label":"main","disabled":false,"info":""},{"id":"test.flow","type":"tab","label":"test","disabled":false,"info":""},{"id":"eacbb9ef.69d5c8","type":"EventListener","z":"main.flow","name":"GET /qrcode","eventSource":"api","dynamodbOperation":"","apiMethod":"get","apiUrl":"/qrcode","albMethod":"any","albUrl":"","bucketName":"","event":"s3:ObjectCreated:*","x":120,"y":160,"wires":[["5f6366d0.d72308"]],"caname":"aws-event-handler","category":"aws"},{"id":"b5fc6ccd.17dd7","type":"EventListener-End","z":"main.flow","name":"Success","statusCode":"200","headers":{"Content-Type":"text/html "},"payload":"msg.payload","x":582.5,"y":160,"wires":[],"caname":"eventlistenerend","category":"aws"},{"id":"3aa032bd.826cae","type":"TestCase","z":"test.flow","name":"Test Get /hello","selectedTargetNode":"eacbb9ef.69d5c8","payload":"{\n  \"path\": \"/hello\",\n  \"headers\": {\n    \"Accept\": \"text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,*/*;q=0.8\",\n    \"Accept-Encoding\": \"gzip, deflate, lzma, sdch, br\",\n    \"Accept-Language\": \"en-US,en;q=0.8\",\n    \"CloudFront-Forwarded-Proto\": \"https\",\n    \"CloudFront-Is-Desktop-Viewer\": \"true\",\n    \"CloudFront-Is-Mobile-Viewer\": \"false\",\n    \"CloudFront-Is-SmartTV-Viewer\": \"false\",\n    \"CloudFront-Is-Tablet-Viewer\": \"false\",\n    \"CloudFront-Viewer-Country\": \"US\",\n    \"Host\": \"wt6mne2s9k.execute-api.us-west-2.amazonaws.com\",\n    \"Upgrade-Insecure-Requests\": \"1\",\n    \"User-Agent\": \"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/52.0.2743.82 Safari/537.36 OPR/39.0.2256.48\",\n    \"Via\": \"1.1 fb7cca60f0ecd82ce07790c9c5eef16c.cloudfront.net (CloudFront)\",\n    \"X-Amz-Cf-Id\": \"nBsWBOrSHMgnaROZJK1wGCZ9PcRcSpq_oSXZNQwQ10OTZL4cimZo3g==\",\n    \"X-Forwarded-For\": \"192.168.100.1, 192.168.1.1\",\n    \"X-Forwarded-Port\": \"443\",\n    \"X-Forwarded-Proto\": \"https\"\n  },\n  \"pathParameters\": {\n    \"proxy\": \"hello\"\n  },\n  \"requestContext\": {\n    \"accountId\": \"123456789012\",\n    \"resourceId\": \"us4z18\",\n    \"stage\": \"test\",\n    \"requestId\": \"41b45ea3-70b5-11e6-b7bd-69b5aaebc7d9\",\n    \"identity\": {\n      \"cognitoIdentityPoolId\": \"\",\n      \"accountId\": \"\",\n      \"cognitoIdentityId\": \"\",\n      \"caller\": \"\",\n      \"apiKey\": \"\",\n      \"sourceIp\": \"192.168.100.1\",\n      \"cognitoAuthenticationType\": \"\",\n      \"cognitoAuthenticationProvider\": \"\",\n      \"userArn\": \"\",\n      \"userAgent\": \"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/52.0.2743.82 Safari/537.36 OPR/39.0.2256.48\",\n      \"user\": \"\"\n    },\n    \"resourcePath\": \"/{proxy+}\",\n    \"httpMethod\": \"GET\",\n    \"apiId\": \"wt6mne2s9k\"\n  },\n  \"resource\": \"/{proxy+}\",\n  \"httpMethod\": \"GET\",\n  \"queryStringParameters\": {\n    \"name\": \"me\"\n  },\n  \"stageVariables\": {\n    \"stageVarName\": \"stageVarValue\"\n  }\n}","initialLoad":"false","x":122.5,"y":160,"wires":[["e0721cc7.653eb"]],"caname":"test-case","category":"testing"},{"id":"e0721cc7.653eb","type":"TestCaseEnd","z":"test.flow","name":"TestCaseEnd","x":425,"y":160,"wires":[],"caname":"test-case-end","category":"testing"},{"id":"f6b3e3c9.5e1e","type":"Template","z":"main.flow","name":"Template","field":"payload","fieldType":"camsg","format":"handlebars","syntax":"mustache","template":"<html>\n    <body>\n        <img src=\"{{payload}}\"/>\n    </body>\n</html>","output":"str","x":442.5,"y":160,"wires":[["b5fc6ccd.17dd7"]],"caname":"template","category":"transformation"},{"id":"5f6366d0.d72308","type":"QRCode","z":"main.flow","name":"QRCode","qrString":"https://abc-api.ap-south-2.amazonaws.com/test/access","margin":10,"width":200,"x":322.5,"y":160,"wires":[["f6b3e3c9.5e1e"]],"caname":"base64","category":"automation"},{"id":"d553a3b3.186c1","type":"EventListener","z":"main.flow","name":"GET /access","eventSource":"api","dynamodbOperation":"","apiMethod":"get","apiUrl":"/access","albMethod":"any","albUrl":"","bucketName":"","event":"s3:ObjectCreated:*","x":120,"y":260,"wires":[["7b9f6b44.11d044"]],"caname":"aws-event-handler","category":"aws"},{"id":"c2a8cb86.9fd6c8","type":"EventListener-End","z":"main.flow","name":"Success","statusCode":"200","headers":{"Content-Type":"text/html "},"payload":"msg.payload","x":582.5,"y":260,"wires":[],"caname":"eventlistenerend","category":"aws"},{"id":"7b9f6b44.11d044","type":"Template","z":"main.flow","name":"AccessForm","field":"payload","fieldType":"camsg","format":"handlebars","syntax":"plain","template":"<!DOCTYPE html>\n<html>\n<head>\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n<style>\nbody {\n  font-family: Arial, Helvetica, sans-serif;\n  background-color: black;\n}\n\n* {\n  box-sizing: border-box;\n}\n\n/* Add padding to containers */\n.container {\n  padding: 16px;\n  background-color: white;\n}\n\n/* Full-width input fields */\ninput[type=text], input[type=password] {\n  width: 100%;\n  padding: 15px;\n  margin: 5px 0 22px 0;\n  display: inline-block;\n  border: none;\n  background: #f1f1f1;\n}\n\ninput[type=text]:focus, input[type=password]:focus {\n  background-color: #ddd;\n  outline: none;\n}\n\n/* Overwrite default styles of hr */\nhr {\n  border: 1px solid #f1f1f1;\n  margin-bottom: 25px;\n}\n\n/* Set a style for the submit button */\n.registerbtn {\n  background-color: #4CAF50;\n  color: white;\n  padding: 16px 20px;\n  margin: 8px 0;\n  border: none;\n  cursor: pointer;\n  width: 100%;\n  opacity: 0.9;\n}\n\n.registerbtn:hover {\n  opacity: 1;\n}\n\n/* Add a blue text color to links */\na {\n  color: dodgerblue;\n}\n\n/* Set a grey background color and center the text of the \"sign in\" section */\n.signin {\n  background-color: #f1f1f1;\n  text-align: center;\n}\n</style>\n</head>\n<body>\n\n<form action=\"/action_page.php\">\n  <div class=\"container\">\n    <h1>Floor Access Form</h1>\n    <p>Please fill in this form to provide access.</p>\n    <hr>\n\n    <label for=\"email\"><b>Email</b></label>\n    <input type=\"text\" placeholder=\"Enter Email\" name=\"email\" id=\"email\" required>\n\n    <label for=\"psw\"><b>EmployeeID</b></label>\n    <input type=\"text\" placeholder=\"Enter EmployeeID\" name=\"psw\" id=\"psw\" required>\n\n    <label for=\"psw-repeat\"><b>Manager Name</b></label>\n    <input type=\"text\" placeholder=\"Name of the Manager\" name=\"psw-repeat\" id=\"psw-repeat\" required>\n    <hr>\n\n    <button type=\"submit\" class=\"registerbtn\">Register</button>\n  </div>\n</form>\n\n</body>\n</html>\n","output":"str","x":422.5,"y":260,"wires":[["c2a8cb86.9fd6c8"]],"caname":"template","category":"transformation"}]