BatchProcess/BatchProcess-flow.json
[{"id":"main.flow","type":"tab","label":"main","disabled":false,"info":""},{"id":"test.flow","type":"tab","label":"test","disabled":false,"info":""},{"id":"3aa032bd.826cae","type":"TestCase","z":"test.flow","name":"Test Get /hello","selectedTargetNode":"eacbb9ef.69d5c8","payload":"{\n  \"path\": \"/hello\",\n  \"headers\": {\n    \"Accept\": \"text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,*/*;q=0.8\",\n    \"Accept-Encoding\": \"gzip, deflate, lzma, sdch, br\",\n    \"Accept-Language\": \"en-US,en;q=0.8\",\n    \"CloudFront-Forwarded-Proto\": \"https\",\n    \"CloudFront-Is-Desktop-Viewer\": \"true\",\n    \"CloudFront-Is-Mobile-Viewer\": \"false\",\n    \"CloudFront-Is-SmartTV-Viewer\": \"false\",\n    \"CloudFront-Is-Tablet-Viewer\": \"false\",\n    \"CloudFront-Viewer-Country\": \"US\",\n    \"Host\": \"wt6mne2s9k.execute-api.us-west-2.amazonaws.com\",\n    \"Upgrade-Insecure-Requests\": \"1\",\n    \"User-Agent\": \"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/52.0.2743.82 Safari/537.36 OPR/39.0.2256.48\",\n    \"Via\": \"1.1 fb7cca60f0ecd82ce07790c9c5eef16c.cloudfront.net (CloudFront)\",\n    \"X-Amz-Cf-Id\": \"nBsWBOrSHMgnaROZJK1wGCZ9PcRcSpq_oSXZNQwQ10OTZL4cimZo3g==\",\n    \"X-Forwarded-For\": \"192.168.100.1, 192.168.1.1\",\n    \"X-Forwarded-Port\": \"443\",\n    \"X-Forwarded-Proto\": \"https\"\n  },\n  \"pathParameters\": {\n    \"proxy\": \"hello\"\n  },\n  \"requestContext\": {\n    \"accountId\": \"123456789012\",\n    \"resourceId\": \"us4z18\",\n    \"stage\": \"test\",\n    \"requestId\": \"41b45ea3-70b5-11e6-b7bd-69b5aaebc7d9\",\n    \"identity\": {\n      \"cognitoIdentityPoolId\": \"\",\n      \"accountId\": \"\",\n      \"cognitoIdentityId\": \"\",\n      \"caller\": \"\",\n      \"apiKey\": \"\",\n      \"sourceIp\": \"192.168.100.1\",\n      \"cognitoAuthenticationType\": \"\",\n      \"cognitoAuthenticationProvider\": \"\",\n      \"userArn\": \"\",\n      \"userAgent\": \"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/52.0.2743.82 Safari/537.36 OPR/39.0.2256.48\",\n      \"user\": \"\"\n    },\n    \"resourcePath\": \"/{proxy+}\",\n    \"httpMethod\": \"GET\",\n    \"apiId\": \"wt6mne2s9k\"\n  },\n  \"resource\": \"/{proxy+}\",\n  \"httpMethod\": \"GET\",\n  \"queryStringParameters\": {\n    \"name\": \"me\"\n  },\n  \"stageVariables\": {\n    \"stageVarName\": \"stageVarValue\"\n  }\n}","initialLoad":"false","x":122.5,"y":160,"wires":[["b970b7d2.5454c8"]],"caname":"test-case","category":"testing"},{"id":"b970b7d2.5454c8","type":"Assertion","z":"test.flow","name":"check response","selector":"jsonBody","property":"hello","comparison":"equals","value":"world","x":265,"y":160,"wires":[["e0721cc7.653eb"]],"caname":"test-assertion","category":"testing"},{"id":"e0721cc7.653eb","type":"TestCaseEnd","z":"test.flow","name":"TestCaseEnd","x":425,"y":160,"wires":[],"caname":"test-case-end","category":"testing"},{"id":"613f930e.fabbdc","type":"EventListener-End","z":"main.flow","name":"Success","statusCode":"200","headers":{"Content-Type":"application/json"},"payload":"msg.payload","x":1102.5,"y":260,"wires":[],"caname":"eventlistenerend","category":"aws"},{"id":"30ad78ae.43a998","type":"CSV","z":"main.flow","name":"ParseCSV","sep":",","hdrin":true,"hdrout":"","multi":"mult","ret":"\\n","temp":"Username;Identifier;First name;Last name","skip":"0","x":562.5,"y":260,"wires":[["a38003c0.87ddc"]],"caname":"CSV","category":"transformation"},{"id":"a38003c0.87ddc","type":"Split","z":"main.flow","name":"Split","splitable":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","operation":"Array","x":642.5,"y":260,"wires":[["969e9a83.fdebb8"]],"caname":"split","category":"routing"},{"id":"f1f6b4b0.963598","type":"Join","z":"main.flow","name":"Join","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":"false","timeout":"","count":"","reduceRight":false,"x":942.5,"y":260,"wires":[["d80488df.7b4d28"]],"caname":"split","category":"routing"},{"id":"969e9a83.fdebb8","type":"Datamapper","z":"main.flow","name":"DataTransform","datamappertype":"$string($map(msg, function($v, $k) {\n    \n    {\n        \"Customer_Username\" : $v.Username,\n        \"Customer_IdNumber\" : $v.Identifier\n    }\n    \n}))","testdataeditortype":"[\n    {\n        \"Username\": \"booker12\",\n        \"Identifier\": 9012,\n        \"First name\": \"Rachel\",\n        \"Last name\": \"Booker\"\n    },\n    {\n        \"Username\": \"grey07\",\n        \"Identifier\": 2070,\n        \"First name\": \"Laura\",\n        \"Last name\": \"Grey\"\n    },\n    {\n        \"Username\": \"johnson81\",\n        \"Identifier\": 4081,\n        \"First name\": \"Craig\",\n        \"Last name\": \"Johnson\"\n    },\n    {\n        \"Username\": \"jenkins46\",\n        \"Identifier\": 9346,\n        \"First name\": \"Mary\",\n        \"Last name\": \"Jenkins\"\n    },\n    {\n        \"Username\": \"smith79\",\n        \"Identifier\": 5079,\n        \"First name\": \"Jamie\",\n        \"Last name\": \"Smith\"\n    }\n]","x":742.5,"y":260,"wires":[["45ef683.9f1e798"]],"caname":"datamapper","category":"transformation"},{"id":"9d6f01bd.c4307","type":"TestCase","z":"test.flow","name":"Test Get /trigger","selectedTargetNode":"4419df70.c2ba","payload":"{\n  \"path\": \"/trigger\",\n  \"headers\": {\n    \"Accept\": \"text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,*/*;q=0.8\",\n    \"Accept-Encoding\": \"gzip, deflate, lzma, sdch, br\",\n    \"Accept-Language\": \"en-US,en;q=0.8\",\n    \"CloudFront-Forwarded-Proto\": \"https\",\n    \"CloudFront-Is-Desktop-Viewer\": \"true\",\n    \"CloudFront-Is-Mobile-Viewer\": \"false\",\n    \"CloudFront-Is-SmartTV-Viewer\": \"false\",\n    \"CloudFront-Is-Tablet-Viewer\": \"false\",\n    \"CloudFront-Viewer-Country\": \"US\",\n    \"Host\": \"wt6mne2s9k.execute-api.us-west-2.amazonaws.com\",\n    \"Upgrade-Insecure-Requests\": \"1\",\n    \"User-Agent\": \"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/52.0.2743.82 Safari/537.36 OPR/39.0.2256.48\",\n    \"Via\": \"1.1 fb7cca60f0ecd82ce07790c9c5eef16c.cloudfront.net (CloudFront)\",\n    \"X-Amz-Cf-Id\": \"nBsWBOrSHMgnaROZJK1wGCZ9PcRcSpq_oSXZNQwQ10OTZL4cimZo3g==\",\n    \"X-Forwarded-For\": \"192.168.100.1, 192.168.1.1\",\n    \"X-Forwarded-Port\": \"443\",\n    \"X-Forwarded-Proto\": \"https\"\n  },\n  \"pathParameters\": {\n    \"proxy\": \"hello\"\n  },\n  \"requestContext\": {\n    \"accountId\": \"123456789012\",\n    \"resourceId\": \"us4z18\",\n    \"stage\": \"test\",\n    \"requestId\": \"41b45ea3-70b5-11e6-b7bd-69b5aaebc7d9\",\n    \"identity\": {\n      \"cognitoIdentityPoolId\": \"\",\n      \"accountId\": \"\",\n      \"cognitoIdentityId\": \"\",\n      \"caller\": \"\",\n      \"apiKey\": \"\",\n      \"sourceIp\": \"192.168.100.1\",\n      \"cognitoAuthenticationType\": \"\",\n      \"cognitoAuthenticationProvider\": \"\",\n      \"userArn\": \"\",\n      \"userAgent\": \"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/52.0.2743.82 Safari/537.36 OPR/39.0.2256.48\",\n      \"user\": \"\"\n    },\n    \"resourcePath\": \"/{proxy+}\",\n    \"httpMethod\": \"POST\",\n    \"apiId\": \"wt6mne2s9k\"\n  },\n  \"resource\": \"/{proxy+}\",\n  \"httpMethod\": \"POST\",\n  \"queryStringParameters\": {\n    \"name\": \"me\"\n  },\n  \"stageVariables\": {\n    \"stageVarName\": \"stageVarValue\"\n  }\n}","initialLoad":"false","x":122.5,"y":260,"wires":[["ab1387ee.bb15f8"]],"caname":"test-case","category":"testing"},{"id":"ab1387ee.bb15f8","type":"Assertion","z":"test.flow","name":"check response","selector":"jsonBody","property":"hello","comparison":"equals","value":"world","x":265,"y":260,"wires":[["a6a82722.02cc98"]],"caname":"test-assertion","category":"testing"},{"id":"a6a82722.02cc98","type":"TestCaseEnd","z":"test.flow","name":"TestCaseEnd","x":425,"y":260,"wires":[],"caname":"test-case-end","category":"testing"},{"id":"2039e664.26036a","type":"S3","z":"main.flow","operation":"GetObject","Bucket":"env.bucket","Key":"env.key","KeyType":"","Content":"","ContentType":"","BucketType":"","CopySource":"","CopySourceType":"","DestinationBucket":"","DestinationBucketType":"","DestinationKey":"","DestinationKeyType":"","Delete":"","DeleteType":"","name":"GetCSVFromS3","x":342.5,"y":260,"wires":[["8bba5073.b4fcd"]],"caname":"S3","category":"aws"},{"id":"5653f5fe.9d9bfc","type":"Logger","z":"main.flow","name":"Log Entry","level":"INFO","message":"Batch Triggered","x":242.5,"y":260,"wires":[["2039e664.26036a"]],"caname":"logger","category":"logging"},{"id":"8bba5073.b4fcd","type":"Function","z":"main.flow","name":"ConvertBufferToString","outputs":1,"noerr":0,"query":"/** Following expressions can be used to access or set the\n   variables, environment or payload within function.\n   $vars.get(\"key\") - To access a variable inside the function node.\n   $vars.set(\"key\",\"value\") - To set a variable inside the function node.\n   $env.get(\"key\") - To access an environment variable inside the function node.\n   $msg.get(\"payload\") - To get the payload object inside the function node.\n   $msg.set(\"payload\",\"value\") - To set the payload object inside the function node.\n   msg.payload - Payload can also be acceses from msg object as any \n   regular javascript object.\n   node.send([msg1,msg2]) - Sending msg to more than one output   **/\n\nmsg.payload = msg.payload.Body.toString('UTF-8');\n\nreturn msg;","x":462.5,"y":260,"wires":[["30ad78ae.43a998"]],"caname":"function","category":"transformation"},{"id":"7973c392.e0bb4c","type":"EventListener","z":"main.flow","name":"S3 trigger","eventSource":"s3","dynamodbOperation":"","apiMethod":"any","apiUrl":"","albMethod":"any","albUrl":"","bucketName":"","event":"s3:ObjectCreated:*","x":142.5,"y":260,"wires":[["5653f5fe.9d9bfc"]],"caname":"aws-event-handler","category":"aws"},{"id":"d80488df.7b4d28","type":"SES","z":"main.flow","operation":"SendEmail","BccAddresses":"","CcAddresses":"","ToAddresses":"","Message":"","Subject":"","Source":"","ReplyToAddresses":"","name":"SendEmail","x":1022.5,"y":260,"wires":[["613f930e.fabbdc"]],"caname":"SES","category":"aws"},{"id":"9128a294.f366","type":"TestCase","z":"test.flow","name":"Test Get /test","selectedTargetNode":"d39fa2e0.8f738","payload":"{\n  \"path\": \"/test\",\n  \"headers\": {\n    \"Accept\": \"text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,*/*;q=0.8\",\n    \"Accept-Encoding\": \"gzip, deflate, lzma, sdch, br\",\n    \"Accept-Language\": \"en-US,en;q=0.8\",\n    \"CloudFront-Forwarded-Proto\": \"https\",\n    \"CloudFront-Is-Desktop-Viewer\": \"true\",\n    \"CloudFront-Is-Mobile-Viewer\": \"false\",\n    \"CloudFront-Is-SmartTV-Viewer\": \"false\",\n    \"CloudFront-Is-Tablet-Viewer\": \"false\",\n    \"CloudFront-Viewer-Country\": \"US\",\n    \"Host\": \"wt6mne2s9k.execute-api.us-west-2.amazonaws.com\",\n    \"Upgrade-Insecure-Requests\": \"1\",\n    \"User-Agent\": \"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/52.0.2743.82 Safari/537.36 OPR/39.0.2256.48\",\n    \"Via\": \"1.1 fb7cca60f0ecd82ce07790c9c5eef16c.cloudfront.net (CloudFront)\",\n    \"X-Amz-Cf-Id\": \"nBsWBOrSHMgnaROZJK1wGCZ9PcRcSpq_oSXZNQwQ10OTZL4cimZo3g==\",\n    \"X-Forwarded-For\": \"192.168.100.1, 192.168.1.1\",\n    \"X-Forwarded-Port\": \"443\",\n    \"X-Forwarded-Proto\": \"https\"\n  },\n  \"pathParameters\": {\n    \"proxy\": \"hello\"\n  },\n  \"requestContext\": {\n    \"accountId\": \"123456789012\",\n    \"resourceId\": \"us4z18\",\n    \"stage\": \"test\",\n    \"requestId\": \"41b45ea3-70b5-11e6-b7bd-69b5aaebc7d9\",\n    \"identity\": {\n      \"cognitoIdentityPoolId\": \"\",\n      \"accountId\": \"\",\n      \"cognitoIdentityId\": \"\",\n      \"caller\": \"\",\n      \"apiKey\": \"\",\n      \"sourceIp\": \"192.168.100.1\",\n      \"cognitoAuthenticationType\": \"\",\n      \"cognitoAuthenticationProvider\": \"\",\n      \"userArn\": \"\",\n      \"userAgent\": \"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/52.0.2743.82 Safari/537.36 OPR/39.0.2256.48\",\n      \"user\": \"\"\n    },\n    \"resourcePath\": \"/{proxy+}\",\n    \"httpMethod\": \"GET\",\n    \"apiId\": \"wt6mne2s9k\"\n  },\n  \"resource\": \"/{proxy+}\",\n  \"httpMethod\": \"GET\",\n  \"queryStringParameters\": {\n    \"name\": \"me\"\n  },\n  \"stageVariables\": {\n    \"stageVarName\": \"stageVarValue\"\n  }\n}","initialLoad":"false","x":122.5,"y":380,"wires":[["dbc589f.7ba6378"]],"caname":"test-case","category":"testing"},{"id":"dbc589f.7ba6378","type":"Assertion","z":"test.flow","name":"check response","selector":"jsonBody","property":"hello","comparison":"equals","value":"world","x":265,"y":380,"wires":[["5f04d987.c1d6a8"]],"caname":"test-assertion","category":"testing"},{"id":"5f04d987.c1d6a8","type":"TestCaseEnd","z":"test.flow","name":"TestCaseEnd","x":425,"y":380,"wires":[],"caname":"test-case-end","category":"testing"},{"id":"45ef683.9f1e798","type":"SQS","z":"main.flow","operation":"SendMessage","QueueUrl":"","ReceiptHandle":"","MessageBody":"","name":"SQS","x":842.5,"y":260,"wires":[["f1f6b4b0.963598"]],"caname":"SQS","category":"aws"}]